/**
 * @section Configurator
 * @subsection layout
 */
ul{list-style-type:none;margin:0;padding:0;}
blockquote{margin:0;padding:0}

#branding, #nav_main, #content, #nav_supp{margin:0 auto;width:960px;}
#branding{height:76px;}
#nav_main{height:31px;}

.icon_language_select{padding: 0px 6px;}
#language_selecten_icon_de_active{background: transparent url("/img/global/flags/de.gif") 0 3px no-repeat;}
#language_selecten_icon_en_active{background: transparent url("/img/global/flags/en.gif") 0 3px no-repeat;}
#language_selecten_icon_de_inactive{background: transparent url("/img/global/flags/de_grey.gif") 0 3px no-repeat;}
#language_selecten_icon_en_inactive{background: transparent url("/img/global/flags/en_grey.gif") 0 3px no-repeat;}
#language_selecten_icon_de_inactive:hover{background: transparent url("/img/global/flags/de.gif") 0 3px no-repeat;}
#language_selecten_icon_en_inactive:hover{background: transparent url("/img/global/flags/en.gif") 0 3px no-repeat;}

#nav_wave_left{width:367px;height:31px;}
#nav_wave_middle{width:52px;height:31px;}
#nav_main ul{width:540px;border-right:1px solid #d8d8d8;}
#nav_wave_left, #nav_wave_middle, #nav_main ul,#nav_main li, #content_main, #content_sub, #desc_left, #desc_right, #desc_left li{float:left;}
#nav_main li{padding: 0 10px;margin:0 3px;border-left:1px solid #d8d8d8;border-right:1px solid #d8d8d8;height:27px;}
#nav_main_first{border-left: none !important;}
#nav_main_last{border-right: none !important;}

#content_main{width: 430px;min-height:300px;padding: 30px 40px 30px 0;}
#content_sub{width: 490px;min-height:300px;padding: 10px 0 20px 0;}

#nav_supp{height:28px;text-align: center;}
#nav_supp a{padding:0 15px;}

#content_top{margin:0 auto;width:880px;padding:20px 40px;margin-top:20px;}
#testimonial{width:300px;padding:10px 20px;}
#desc_left{width: 380px;margin-right:45px;}
#desc_right{width: 450px;}
#desc_left ul{margin:0 auto;width:300px;}
#desc_left ul li{width:125px;margin:0px 20px 25px 0;}

#content h1{padding: 0 5px;margin:30px 0 0 0;}
#content ul{padding:10px 0;}
#content li{margin-left: 40px;margin-bottom:3px;}
#yiid_slogan p{width:300px;margin-top:0;}

#button_desc{width:347px;padding: 5px 15px;margin-top:10px;}
#conf_content{width:487px;min-height: 300px;padding:10px 0;}
#conf_content_supp{width:447px;padding:14px;}

#preview{width: 425px;padding:20px 10px 15px 10px;overflow: hidden;}
#preview_head{margin:10px 0 5px 5px;}
#webmasters_advice{padding-left:10px;}

#button_get_code_outer{width:150px;margin:20px 10px;padding:3px;}
.button_outer{padding:3px;}
.button_inner{padding: 0 5px;}
#button-likebutton{width:150px;height:25px;text-align: center;}

#likebutton-form-table{margin-top:12px;padding-top:12px;}
#likebutton-form-table td{padding:12px 0;}
#likebutton-form-table input, #likebutton-form-table select{margin-right:10px;}
#likebutton-form-table select{width:202px;padding:5px 0;}
#likebutton-form-table input[type=text]{width:180px;padding:10px;}
#likebutton-form-table .right_side{padding-left: 10px;}
#dislike_option_lab{padding-top:17px !important;}

.green_head{height: 34px;position:relative;}
.green_head div{height: 34px;}
.green_head_part1{width: 6px;position: absolute;left:0;top:0;}
.green_head_part2{line-height: 34px;position: absolute;left:6px;top:0;text-align: center;}
.green_head_part3{width: 46px;position: absolute;top:0;}
.green_head_part4{width: 35px;position: absolute;top:0;right:0;}

.grey_head{height: 26px;position:relative;}
.grey_head div{height: 26px;}
.grey_head_part1{width: 6px;position: absolute;left:0;top:0;}
.grey_head_part2{line-height: 27px;position: absolute;left:6px;top:0;text-align: center;}
.grey_head_part3{width: 54px;position: absolute;top:0;}
.grey_head_part4{width: 34px;position: absolute;top:0;right:0;}

.description_box_head{width: 583px;}
.description_box{width: 580px;}
.description_box p, .small_box p{margin: 0;padding: 10px;}
.description_box ul{width: 560px;}

.small_box_head{width: 402px;}
.small_box{width: 400px;}
p.small_box{width:360px;}
.small_box ul{width:350px;}
p.content_list{margin:0;padding:10px 20px;}

#take_button{margin: 20px auto 0;text-align: center;}
.right{float:right;}
.left{float:left;}
#contact_information{width: 960px; margin: 10px auto 20px;text-align: center;}
#contact_information_small{width: 400px;margin-top: 30px;text-align: center;}
#user_information{margin-bottom:10px;}
#user_information img{margin-right: 10px;}

#language_selection{padding:10px 0;}
#language_selection li{float:left;padding-right: 7px;}
#language_selection img{border:1px solid #e6e6e6;}
#language_selection img:hover{border:1px solid #D3D3D3;}

#spread_image{padding-left: 30px;}
.service_logo{height:28px;}

.widget_parameters{margin: 20px 0 30px 0;}
.widget_parameters p{margin:1px 0 3px 0;}
#widget_choice input{margin: 10px 5px 20px 30px;}
#widget_choice input:first-child{margin: 10px 5px 20px 0;}
#generic_code_like, #generic_code_like_dislike{width:420px;height:100px;line-height: 18px;padding:5px 10px;}

.radio_label{padding-top:6px;}
 
/**
 * @section Configurator
 * @subsection color
 */
body{background-color: #fff;color:#868686;}
/*a, a:link, a:hover{color:#868686;}*/
a, a:link, a:hover{color:#69BC50;}
#nav_wave_right a{color:#868686;}
#likebutton-form-table input, #likebutton-form-table select{color:#868686;}
#branding{background: url("/img/sprites/sprite_configurator.png") 0 0 no-repeat;}
#nav_wave_left{background: url("/img/sprites/sprite_configurator.png") 0 -107px repeat-x;}
#nav_wave_middle{background: url("/img/sprites/sprite_configurator.png") 0 -192px no-repeat;}
#nav_main ul{background-color: #ebebeb;border-top:2px solid #e0e0e0;border-bottom:2px solid #e0e0e0;}
#nav_supp{background-color: #69bc50;}
#nav_supp a{background: transparent url("/img/sprites/sprite_configurator.png") 0 -273px no-repeat;}
#nav_supp_first{background: none !important;}
#content_top, #testimonial{background-color: #ffffff;border:1px solid #d3d3d3;border-radius: 0.3em;-moz-border-radius: 0.3em;-webkit-border-radius: 0.3em;}
a.color_light, p.color_light, div.color_light, ul.color_light, .button_inner:hover, #nav_supp a, #content h1, #button-likebutton{color:#fff;}
.content_list{background-color: #fafafa;border-left: 1px solid #eeeeee;border-right: 1px solid #eeeeee;border-bottom: 1px solid #eeeeee;border-radius: 0 0 0.3em 0.3em;-moz-border-radius:0 0 0.3em 0.3em;-webkit-border-radius:0 0 0.3em 0.3em;}
#content li{list-style-image: url("/img/global/content_main_list_element.png");}
#yiid_slogan{background: transparent url("/img/sprites/sprite_configurator.png") 382px -1512px no-repeat;}
#button_desc{background-color: #ebebeb;border: 1px solid #dedede;}
#conf_content{background-color: #e6e6e6;border:1px solid #d3d3d3;border-top:none;border-radius: 0 0 0.3em 0.3em;-moz-border-radius: 0 0 0.3em 0.3em;-webkit-border-radius: 0 0 0.3em 0.3em;}

.light_border_bottom_side{border:1px solid #d3d3d3;border-top:none;border-radius: 0 0 0.3em 0.3em;-moz-border-radius: 0 0 0.3em 0.3em;-webkit-border-radius: 0 0 0.3em 0.3em;}
.light_border_right_side{border:1px solid #d6d6d6;border-left:none;border-radius: 0 0.3em 0.3em 0;-moz-border-radius: 0 0.3em 0.3em 0;-webkit-border-radius: 0 0.3em 0.3em 0;}

.medium_light_bg{background-color: #f2f2f2;}
.dark_bg{background-color: #e6e6e6;}

.button_outer{background-color: #ffffff;border:1px solid #cdcdcd;border-radius: 0.3em;-moz-border-radius: 0.3em;-webkit-border-radius: 0.3em;}
.button_inner{background-color: #68bc4f;border:1px solid #68bc4f;border-radius: 0.3em;-moz-border-radius: 0.3em;-webkit-border-radius: 0.3em;}

#button_get_code_outer{background-color: #ffffff;border:1px solid #cdcdcd;border-radius: 0.3em;-moz-border-radius: 0.3em;-webkit-border-radius: 0.3em;}
#button-likebutton{background-color: #68bc4f;border:1px solid #68bc4f;border-radius: 0.3em;-moz-border-radius: 0.3em;-webkit-border-radius: 0.3em;}
#conf_content_supp{background-color: #f2f2f2;border:1px solid #d6d6d6;border-left:none;border-radius: 0 0.3em 0.3em 0;-moz-border-radius: 0 0.3em 0.3em 0;-webkit-border-radius: 0 0.3em 0.3em 0;}
#preview{background-color: #ffffff;border: 1px solid #e0e0e0;}
#likebutton-form-table{border-top:1px solid #e9e9e9;}
#likebutton-form-table td{border-top:1px solid #e9e9e9;}
#likebutton-form-table input, #likebutton-form-table select{background-color: #ffffff;border:1px solid #d6d6d6;}

.green_head{background: transparent url("/img/sprites/sprite_configurator.png") 0 -696px repeat-x;border-radius: 0.3em 0.3em 0 0;-moz-border-radius: 0.3em 0.3em 0 0;-webkit-border-radius: 0.3em 0.3em 0 0;}
.green_head_part1{background: transparent url("/img/sprites/sprite_configurator.png") 0 -456px no-repeat;}
.green_head_part2{background: transparent url("/img/sprites/sprite_configurator.png") 0 -543px repeat-x;}
.green_head_part3{background: transparent url("/img/sprites/sprite_configurator.png") 0 -630px no-repeat;}
.green_head_part4{background: transparent url("/img/sprites/sprite_configurator.png") 0 -783px no-repeat;}

.grey_head{background: transparent url("/img/sprites/sprite_configurator.png") 0 -1110px repeat-x;border-radius: 0.3em 0.3em 0 0;-moz-border-radius: 0.3em 0.3em 0 0;-webkit-border-radius: 0.3em 0.3em 0 0;}
.grey_head_part1{background: transparent url("/img/sprites/sprite_configurator.png") 0 -870px no-repeat;}
.grey_head_part2{background: transparent url("/img/sprites/sprite_configurator.png") 0 -950px repeat-x;}
.grey_head_part3{background: transparent url("/img/sprites/sprite_configurator.png") 0 -1030px no-repeat;}
.grey_head_part4{background: transparent url("/img/sprites/sprite_configurator.png") 0 -1190px no-repeat;}

#facebook_logo{background: transparent url("/img/sprites/sprite_configurator.png") 0 -1280px no-repeat;}
#twitter_logo{background: transparent url("/img/sprites/sprite_configurator.png") 0 -1362px no-repeat;}
#buzz_logo{background: transparent url("/img/sprites/sprite_configurator.png") 0 -1436px no-repeat;}

 
/**
 * @section Configurator
 * @subsection typo
 */
a, a:link{text-decoration: none;}
body{font-size:16px;line-height:24px;font-family: arial, helvetica, sans-serif;}
#branding, #nav_main{text-align-center;}
.small_size{font-size: 11px;line-height: 16px;}
.normal_size{font-size: 12px;}
.big_size{font-size: 14px;}
#nav_main li, #nav_supp a{font-size: 11px;line-height:27px;font-weight:normal;}
#nav_main li, #nav_supp a, #button-likebutton{cursor: pointer;}
#content li, #content h1, #button_desc, #desc_left, #desc_right{font-size: 14px;}
.important_text, #nav_main li, .important-text, #conf_head, #button-likebutton{font-weight: bold;}
.underlined_text, #nav_supp a:hover, #nav_main li:hover, #button-likebutton:hover, a:hover{text-decoration: underline;}
.slogan{font-size: 22px;line-height: 30px;}
#content li{line-height: 20px;}
#button_desc, h3{line-height: 18px;}
#button-likebutton, #desc_left, #desc_right{line-height: 22px;}
h3, #likebutton-form-table, .likebutton_t, #likebutton_l{font-size: 12px;}
#likebutton-form-table input{font-size:11px;}
#likebutton-form-table{font-weight: normal !important;line-height: 14px;}
#likebutton-form-table td{vertical-align: top;}
#testimonial h3{margin-bottom: 0;}
#testimonial p{margin: 0 0 10px 0;}
blockquote{font-style: italic;}
blockquote:before, blockquote:after{content:'"'}
.button_inner{text-align: center;line-height: 22px;}
.italic_text{font-style: italic;}

.show{display: block;}
.hide{display: none;}

/**
 * @section Facebox
 */
#facebox .b {background:url(/facebox/b.png);}
#facebox .tl {background:url(/facebox/tl.png);}
#facebox .tr {background:url(/facebox/tr.png);}
#facebox .bl {background:url(/facebox/bl.png);}
#facebox .br {background:url(/facebox/br.png);}

/* opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50); */

#facebox {position: absolute;top: 0;left: 0;z-index: 100;text-align: left;}
#facebox .popup {position: relative;}
#facebox table {border-collapse: collapse;}
#facebox td {border-bottom: 0;padding: 0;}
#facebox .body {padding: 10px;background: #fff;width: 370px;}
#facebox .loading, #facebox .image {text-align: center;}
#facebox img {border: 0;margin: 0;}
#facebox .footer {border-top: 1px solid #DDDDDD;padding-top: 5px;margin-top: 10px;text-align: right;}
#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {height: 10px;width: 10px;overflow: hidden;padding: 0;}
#facebox_overlay {position: fixed;top: 0px;left: 0px;height:100%;width:100%;opacity: 0.5 !important;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);}
.facebox_hide {z-index:-100;}
.facebox_overlayBG {background-color: #000;z-index: 99;}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

/* The core of clearfix */
.clearfix:after {content: ".";display: block;clear: both;height: 0;visibility: hidden;}

/* IE-Patches for clearfix */
.clearfix {display: inline-block;}

/* Start: hide for IE5/Mac with commented backslash Hack \*/
* html .clearfix{height: 1px;}
.clearfix{display: block;}
/* End: hide for IE5/Mac with commented backslash Hack */ /* basics */