.DS_Store
*.log

cache/
log/
data/sql/

web/widget.php
web/my.php
web/shorturl.php
web/index.php
web/engineroom.php
web/backend.php
web/api.php
web/css/include/
web/js/100_main/include/
web/css/v1/
web/js/v1/

config/BatchConfiguration.class.php

apps/statistics/modules/test
test/functional/statistics/testActionsTest.php

lib/form/doctrine/base/
lib/form/doctrine/sfDoctrineGuardPlugin/base/
lib/form/doctrine/sfForkedDoctrineApplyPlugin/base/

lib/model/doctrine/base/
lib/model/doctrine/sfDoctrineGuardPlugin/base/
lib/model/doctrine/sfDoctrineActAsTaggablePlugin/base/
lib/model/doctrine/sfForkedDoctrineApplyPlugin/base/

lib/filter/doctrine/base/
lib/filter/doctrine/sfDoctrineGuardPlugin/base/
lib/filter/doctrine/sfDoctrineActAsTaggablePlugin/base/
lib/filter/doctrine/sfForkedDoctrineApplyPlugin/base/

lib/mongo/Hydrators/*
lib/mongo/Proxies/*
web/w/like/inc/config.inc.php