.DS_Store
*.log
web/widget.php
web/my.php
web/shorturl.php
web/index.php
web/engineroom.php
web/backend.php
web/css/include/
web/js/100_main/include/

lib/form/doctrine/base/
lib/form/doctrine/sfDoctrineGuardPlugin/base/
lib/form/doctrine/sfForkedDoctrineApplyPlugin/base/

lib/model/doctrine/base/
lib/model/doctrine/sfDoctrineGuardPlugin/base/
lib/model/doctrine/sfDoctrineActAsTaggablePlugin/base/
lib/model/doctrine/sfForkedDoctrineApplyPlugin/base/

lib/filter/doctrine/base/
lib/filter/doctrine/sfDoctrineGuardPlugin/base/
lib/filter/doctrine/sfDoctrineActAsTaggablePlugin/base/
lib/filter/doctrine/sfForkedDoctrineApplyPlugin/base/

lib/mongo/Hydrators/

data/sql/
config/BatchConfiguration.class.php
cache/
log/
web/api.php
