#spreadly-advertisement-container {
  position: relative;
}

.spreadly-advertisement {
  z-index: 9999;
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  clear: both;
  background-color: #fff;
  position: absolute;
  display: block;
  left: 0;
}

.spreadly-advertisement-top {
  bottom: 0;
}

.spreadly-advertisement-bottom {
  top: 0;
}

.spreadly-advertisement iframe {
  padding: 0;
  margin: 0;
  clear: both;
  display: block;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  border: none;
}

.spreadly-advertisement div {
  padding: 5px;
}

.spreadly-advertisement-disclaimer {
  font-size: 10px;
  display: block;
  float: left;
}

.spreadly-advertisement-close {
  font-size: 10px;
  display: block;
  float: right;
}

.spreadly-advertisement a,
.spreadly-advertisement a:hover,
.spreadly-advertisement a:visited {
  font-color: #000;
}

#spreadly-overlay {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.796875);
  overflow: hidden;
}
 
#spreadly-overlay #spreadly-iframe {
  width: 600px;
  margin: 100px auto;
  background: transparent;
  text-align: center;
}    
 
#spreadly-overlay #spreadly-iframe iframe {
  border: 0;
  width: 600px;
  height: 600px;
}

img.spreadly-service-icon {
  border: 0 none !important;
  border-radius: 0 none !important;
  box-shadow: none;
  margin-right: 3px;
}

.spreadly-button {
  display: block;
}

.spreadly-close-button {
  z-index: 999999;
  position: relative;
  right: 50px;
  top: 30px;
  text-align: center;
  float: right;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: #bebebe;
  margin: -20px -20px 0;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -khtml-border-radius: 50px;
  box-shadow: 5px 10px 3px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 5px 10px 3px 1px rgba(0,0,0,0.25);
  -webkit-box-shadow: 5px 10px 3px 1px rgba(0,0,0,0.25);
}
.spreadly-close-icon { background: url("##YIID_BUTTON_HOST##/img/popup/close.png") no-repeat; width:13px; height: 14px; margin: 11px auto 0; }
.spreadly-close-button:hover { background: url("##YIID_BUTTON_HOST##/img/popup/hover.png"); }