@font-face {
  font-family: 'Spreadly Icons';
  src: url('##YIID_BUTTON_HOST##/font/spreadly-icons.eot');
  src: url('##YIID_BUTTON_HOST##/font/spreadly-icons.eot?#iefix') format('embedded-opentype'),
       url('##YIID_BUTTON_HOST##/font/spreadly-icons.woff') format('woff'),
       url('##YIID_BUTTON_HOST##/font/spreadly-icons.ttf') format('truetype'),
       url('##YIID_BUTTON_HOST##/font/spreadly-icons.svg#spreadly-iconsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.si-fb, .si-tw, .si-li, .si-tm, .si-xg, .si-sl, .si-ft {
  font-family: 'Spreadly Icons';
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  vertical-align: center;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.si-fb:before {
  content: "\f002";
  color: #3b5998;
  font-size: 30px;
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf002;');
}

.si-tw:before {
  content: "\f001";
  color: #55acee;
  font-size: 30px;
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf001;');
}

.si-tm:before {
  content: "\f003";
  color: #2b4964;
  font-size: 30px;
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf003;');
}

.si-li:before {
  content: "\f004";
  color: #4875b4;
  font-size: 30px;
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf004;');
}

.si-xg:before {
  content: "\f005";
  color: #398682;
  font-size: 30px;
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf005;');
}

.si-sl:before {
  content: "\f00e";
  color: #a04973;
  font-size: 30px;
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00e;');
}

.si-ft:before {
  content: "\f00b";
  color: #549625;
  font-size: 30px;
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00b;');
}

#spreadly-advertisement-container {
  position: relative;
}

.spreadly-widget {
  width: 520px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.spreadly-link {
  background-color: transparent;
  width: auto;
  height: auto;
  cursor: pointer;
}

.spreadly-advertisement {
  border-radius: 5px;
  border: 5px solid #aaaaaa;
  clear: both;
  background-color: #ffffff;
  z-index: 9999;
  position: absolute;
  display: block;
  left: 0;
  color: #000000;
}

.spreadly-advertisement-top {
  bottom: 0;
}

.spreadly-advertisement-bottom {
  top: 0;
}

.spreadly-advertisement iframe, .spreadly-widget iframe {
  padding: 0;
  margin: 0;
  clear: both;
  display: block;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  border: none;
}

.spreadly-advertisement div {
  padding: 5px;
}

.spreadly-advertisement-disclaimer {
  font-size: 10px;
  display: block;
  float: left;
  color: #000000;
}

.spreadly-advertisement-note {
  font-size: 10px;
  display: block;
  float: right;
  color: #000000;
}

.spreadly-advertisement-close {
  font-size: 10px;
  display: block;
  float: left;
  color: #000000;
}

.spreadly-advertisement a,
.spreadly-advertisement a:hover,
.spreadly-advertisement a:visited {
  color: #000000;
}

#spreadly-overlay {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.796875);
  overflow: hidden;
}

#spreadly-overlay #spreadly-iframe {
  width: 600px;
  margin: 100px auto;
  background: transparent;
  text-align: center;
}

#spreadly-overlay #spreadly-iframe iframe {
  border: 0;
  width: 600px;
  height: 600px;
}

.spreadly-button img.spreadly-service-icon {
  margin-right: 3px !important;
}

.spreadly-button img,
.spreadly-button a,
.spreadly-button iframe {
  border: 0 none !important;
  border-radius: 0 none !important;
  box-shadow: none;
  display: inline;
  margin: 0 !important;
  padding: 0 !important;
}

.spreadly-button {
  display: block;
  white-space: nowrap;
}

.spreadly-close-button {
  z-index: 999999;
  position: relative;
  right: 50px;
  top: 30px;
  text-align: center;
  float: right;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background: #bebebe;
  margin: -20px -20px 0;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -khtml-border-radius: 50px;
  box-shadow: 5px 10px 3px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 5px 10px 3px 1px rgba(0,0,0,0.25);
  -webkit-box-shadow: 5px 10px 3px 1px rgba(0,0,0,0.25);
}
.spreadly-close-icon { background: url("##YIID_BUTTON_HOST##/img/popup/close.png") no-repeat; width:13px; height: 14px; margin: 11px auto 0; }
.spreadly-close-button:hover { background: url("##YIID_BUTTON_HOST##/img/popup/hover.png"); }