

.none { display: none; }
/* CLEARFIX
-------------------------------------------------------------- */
.clearfix:after { content: "."; display: block; clear: both;  visibility: hidden; line-height: 0; height: 0;}
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block;}
* html .clearfix { height: 1%;}
.clearfloat { clear: both; }

/* GLOBAL / STRUCTURE / BACKGROUNDCOLORS
-------------------------------------------------------------- */
body {  }
#wrapper {  margin: 0 auto; width: 960px; text-align: left;}
#wrapper-wide {  margin: 0 auto; width: 1024px; text-align: left;margin-top:30px;}
#page { margin: 0 auto; font-size: small; font: 78%/ 1.2 Helvetica, Arial, verdana, 'Lucida Grande',  'Lucida Sans Unicode', Lucida, sans-serif; color: #333333;}

/* HEADER - PROFILE
-------------------------------------------------------------- */
#header-profile { background: #fff url('/img/shorturl/header-bg-profile.png') 0 0 repeat-x; position: relative;  height: 54px; }
#header-profile h1#profile-logo {float: left;}
#header-profile h1#profile-logo a { background: transparent url('/img/shorturl/logo-profile.png') top center no-repeat; left:21px; position:absolute; text-indent:-9999em;top:18px; width:60px; height: 33px;}
#header-wrapper-profile { background: transparent url('/img/shorturl/bg-headerwrapper-profile.png') 0 0; height:54px; margin-left:auto; margin-right:auto; width:986px;  position: relative;}


/*CONTENT
---------------------------------------------------------------*/
#content {  padding: 8px 0px 30px 0px; }
#content div.content-is-looading { text-align: center; color: #ccc; }
div.generel-content.wide-box {width: 380px;}
/*Block wird gel�scht werden, sobald die landingpage und ProfileFreunde umgebaut wurde*/
div.generel-content{  background: url(/img/bg-profile-lined.png) 360px 0 repeat-y;  margin: 40px 0 0px 0; padding: 0px 0px 20px 0px;  width: 760px;}
div.generel-content-box { border-bottom:1px dashed #A3A3A3; float:left; margin: 0px 40px 0px 10px;  padding: 10px 0px 0px 0px; width:330px; height: 200px;}
div.three-col-content div.generel-content{ width: 550px; background: url(/img/bg-profile-lined.png) 245px 0 repeat-y;}
div.three-col-content div.generel-content.wide-box {width: 380px;}
div.three-col-content div.generel-content-box { border-bottom:1px dashed #A3A3A3; float:left; margin: 0px 20px 0px 10px;  padding: 10px 0px 0px 0px; width:220px; height: 208px;}
div.three-col-content div.generel-content-box ul.action-list{ float: right; padding: 6px 0px 0px 0px;}
div.three-col-content div.generel-content-box ul li div.list-image {float:left;height:40px;padding:0 10px;}
/******-----------------------------------------------------------------------------------------------------***/
p.content-description{padding-bottom: 15px;}

ul.list-overview { padding-top: 30px; }
ul.list-overview li { padding: 10px 0px 10px 0px; border-bottom: 1px dashed #a3a3a3; }
ul.list-overview li .preview-image {padding: 0px 10px 0px 10px; float: left; width: 48px; height: 48px;}
ul.list-overview li ul.list-overview-detail{margin: 0;}
ul.list-overview li ul.list-overview-detail li{border: 0; padding-top:0px;}
ul.list-overview li ul.list-overview-detail li a.head-link {color: #464646; text-decoration: underline; }

/*THREE-COL-LIST
--------------------------------------------------------------*/
/*ul.three-col-list li {height: auto !important;}
ul.three-col-list li div{float: left;}
ul.three-col-list li div.list-image {padding:0 10px;height: auto !important;}
ul.three-col-list li div.list-action{ }*/

/*MISC
--------------------------------------------------------------*/
.lined{border-bottom:  1px dashed #a3a3a3;}


/* BOXES: CONTENT
---------------------------------------------------------------*/

div.generel-content-box ul{ margin: 0px 0px 0px 0px; clear:both; }
div.generel-content-box ul li { padding: 0px 0px 10px 0px; overflow: hidden; height:18px;}
div.generel-content-box ul li div.list-image {padding: 0px 10px 0px 10px; float: left; }
div.generel-content-box ul li div.list-entry {height: 20px;}
div.generel-content-box ul li a.bg-sprite {padding-left: 25px;}


div.generel-content-box ul.action-list{ float: right; padding: 6px 10px 0px 0px;}
div.generel-content-box ul.action-list li {float: left; text-align: center; font-size: 0.9em; vertical-align: middle; padding: 0px 3px 0px 3px; margin: 0px 5px 0px 0px; text-transform:uppercase; font-size: 0.8em }
div.generel-content-box ul.action-list li a:link, ul.action-list li a:hover,ul.action-list li a:active,ul.action-list li a:visited{color: #fff; }
div.generel-content-box ul.list-small{}
div.generel-content-box ul.list-small li{float:left; margin: 0 0 5px 5px; padding: 0 0 5px 0; width:160px;}

div.generel-content-box table td{padding-right: 10px; padding-bottom: 5px; }
div.generel-content-box.no-line{border: 0;}


/*muss umbenannt werden, nicht div mit klasse list*/
div.list-small{float: left;text-align: center;width: 70px;margin: 0px 5px 5px 5px;}

/*noch umbenennen*/
ul.list-wide { margin: 0px 0px 0px 0px; clear:both; border-top:1px dashed #A3A3A3;}
ul.list-wide li.list-item { padding: 10px 0px 10px 0px; border-bottom:1px dashed #A3A3A3;}
ul.list-wide li.list-item .list-image {padding: 0px 10px 0px 10px;  float: left;}
ul.list-wide li.list-item .list-entry {height: 20px;}
ul#se-identities-overview-list div.list-image {padding: 0px 10px 0px 10px;  float: left;height:20px;}

/*LAYOUTS
---------------------------------------------------------------*/
.outer-content{ background-color: #f9f9f9;  padding: 18px;  width: 920px; }
.inner-content-border { background: url(/img/inner-content-border.gif) 820px 0 repeat-y; float: left;}
.content-two-col { background: url(/img/inner-content-border.gif) 830px 0 repeat-y;}
.content-three-col { background: url(/img/inner-content-border.gif) 590px 0 repeat-y;}

.one-col-content { width: 880px;  background-color: #fff; padding: 20px 20px 50px 20px; border-right: 1px solid #c6cbcf;  border-bottom: 1px solid #c6cbcf;}
.two-col-content {background-color: #fff; padding: 20px 20px 50px 20px; border-bottom: 1px solid #c6cbcf; float: left;}
.two-col-content.content-navbar ul.contact-list-small li.contact-item {width: 330px;}

.two-col-content div.left-content-col { width: 202px; float:left;}
.two-col-content div.right-content-col {  margin-left:217px;  width:550px;}
.three-col-content {background-color: #fff; padding: 20px 20px 50px 20px; border-bottom: 1px solid #c6cbcf; width: 550px; float: left;}
.layout-sidebar{ width: 500px;}
.content-navbar{ width: 790px;}

.inner-content-float {  background-color: #fff; padding: 20px 20px 50px 20px; border-bottom: 1px solid #c6cbcf; width: 770px; float: left;}
.inner-content-float div.left-content-col { width: 202px; float:left;}
.inner-content-float div.right-content-col {  margin-left:217px;  width:550px;}
.label{ color:#464646;  font-size:1em;  font-weight:bold;}
#auth-loginform{ z-index: 20;}

.outer-content-narrow { background-color: #f9f9f9;  padding: 18px;  width: 720px; }
.inner-content-border-narrow { background: url(/img/inner-content-border.gif) 610px 0 repeat-y;}

/*SIDEBAR
---------------------------------------------------------------*/
div.content-sidebar{width: 240px; float: left;}
div.sidebar-box {margin: 0px 0px 10px 0px;  padding: 10px 0px 10px 10px; width:220px;  height: auto; background-color: #fff;}


div.sidebar-boxul{ margin: 0px 0px 0px 0px; clear:both; }
div.sidebar-box ul li { padding: 0px 0px 10px 0px; overflow: hidden; height:18px;}
div.sidebar-box ul li div.list-image {padding: 0px 10px 0px 2px; float: left; width:15px;}
div.sidebar-box ul li div.list-entry {height: 20px;}
div.sidebar-box ul li a.bg-sprite {padding-left: 25px;}
div.content-sidebar ul.action-list{float:right; padding:7px 10px 0 0; }
/*besonderheiten der sidebarboxen*/
ul#se-small-contact-list{margin:0px 1px 15px 0px;}
ul#small-contact-list{margin:0px 1px 15px 0px;}
#invite-box p{width: 200px;}

/*SIDE-NAVIGATION
---------------------------------------------------------------*/
ul.side-navigation {  margin-top: 20px; float: left;  width: 90px;}
ul.side-navigation li { margin-bottom: 5px; }
ul.side-navigation li a{  border-right: 1px solid #e6e7e2;  border-bottom: 1px solid #e6e7e2; border-left: 1px solid #c6cbcf; background-color: #e6e7e2;  padding: 10px 10px 10px 8px;color: #585A5D; text-transform:uppercase; font-size: 0.8em; font-weight: bold;display:block;}
ul.side-navigation li a:hover,ul.side-navigation li.active a {  background-color: #fff; border-right: 1px solid #c6cbcf;  border-bottom: 1px solid #c6cbcf; border-left: 1px solid #fff;color: #585A5D; }

/* MAIN-SETTINGS: BREADCRUMBS AND LANGUAGE-SELECTION
-------------------------------------------------------------- */
#main-infos  {width: 925px; padding-left: 17px; padding-top: 10px; height: 15px;}
#header-language-selection {float: right; width: 100px;}
#header-language-selection ul { display: block;}
#header-language-selection ul li {  display: block; float: right;}
#header-language-selection ul li.menu-lang {  padding-right: 3px; }
#header-language-selection .lang_active a img { -moz-opacity: 0.5;  opacity: 0.5; filter: alpha(opacity = 50);}
#header-language-selection .lang_active a:hover img { -moz-opacity: 1.0;  opacity: 1.0; filter: alpha(opacity = 100);}
#header-language-selection .lang_inactive a img { -moz-opacity: 0.5;  opacity: 0.5; filter: alpha(opacity = 50);}
#header-language-selection .lang_inactive a:hover img { -moz-opacity: 1.0;  opacity: 1.0; filter: alpha(opacity = 100);}
#language_selection .lang_active a img { -moz-opacity: 0.5;  opacity: 0.5; filter: alpha(opacity = 50);}
#language_selection .lang_active a:hover img { -moz-opacity: 1.0;  opacity: 1.0; filter: alpha(opacity = 100);}
#language_selection .lang_inactive a img { -moz-opacity: 0.8;  opacity: 0.5; filter: alpha(opacity = 50);}
#language_selection .lang_inactive a:hover img { -moz-opacity: 1.0;  opacity: 1.0; filter: alpha(opacity = 100);}
.breadcrumb { width: 700px; padding-top: 10px; padding-left:17px;}
#wrapper-wide .breadcrumb {padding-left: 0px; font-size: 12px;}
#wrapper-wide h1{font-size: 1.4em;}

/* ICONS
-------------------------------------------------------------- */
.icon { padding: 2px 0 8px 20px;}
.icon-apml {  background: url('/img/dp/icon-apml.png') top left no-repeat;}
.icon-dp {  background: url('/img/dp/icon-dplogo.png') center left no-repeat;}
.icon-microformats {  background: url('/img/dp/icon-microformats.png') top left no-repeat;}
.icon-oauth { background: url('/img/dp/icon-oauth.png') top left no-repeat;}
.icon-openid {  background: url('/img/dp/icon-openid.png') top left no-repeat;}
.icon-opml {  background: url('/img/dp/icon-opml.png') top left no-repeat;}
.icon-rdf { background: url('/img/dp/icon-rdf.png') top left no-repeat;}
.icon-rss { background: url('/img/dp/icon-rss.png') top left no-repeat;}

div.inlinehelp { display: inline; position: relative; right: 0; top: 0; }

/* LISTS
-------------------------------------------------------------- */
a.delete_link { padding-right: 16px;  width: auto;  font-size: 11px;  color: #343434; text-transform: uppercase;  text-decoration: underline; margin-top: 3px;  vertical-align: top;}
/*a.edit_link { background: transparent url('/img/icons/18.png') center right no-repeat; padding-right: 16px;  width: auto;  font-size: 11px;  color: #343434; text-transform: uppercase;  text-decoration: underline; margin-top: 3px;  vertical-align: top;}*/
/*a.edit_link{ background: transparent url('/img/icons/sprites/sprite16x16_transparent.gif') right -2376px no-repeat; padding: 0 20px 6px 0;  width: 18px;; height:18px;  font-size: 11px;  color: #343434; text-transform: uppercase;  text-decoration: underline; margin-top: 2px;  vertical-align: top;}*/
.delete_link:hover {  background: transparent url('/img/icons/01.png') center right no-repeat;}
/*.edit_link:hover {  background: transparent url('/img/icons/sprites/sprite16x16_transparent.gif') right -2412px no-repeat; padding: 0 20px 6px 0;  width: 18px;; height:18px;  font-size: 11px;  color: #343434; text-transform: uppercase;  text-decoration: underline; margin-top: 2px;  vertical-align: top;}*/

/* Actionlist
-------------------------------------------------------------*/
ul.action-list{float:right; padding:0px 10px 0 0; }
ul.action-list li {float:left; font-size:0.8em; margin:0 5px 0 0; padding:0 3px; text-align:center; text-transform:uppercase; vertical-align:middle;}
ul.action-list li a{color: #fff;}
ul.action-list li.add-button {background-color: #6ea122;  border: 1px solid #6ea122;-moz-border-radius:2px; border-radius:2px 2px; -webkit-border-radius: 2px 2px;}
ul.action-list li.edit-button {background-color: #ff7800; border: 1px solid #ff7800;-moz-border-radius:2px; border-radius:2px 2px; -webkit-border-radius: 2px 2px;}
ul.action-list li.delete-button{background-color: #b22625;border: 1px solid #b22625;-moz-border-radius:2px; border-radius:2px 2px; -webkit-border-radius: 2px 2px;}


/* MICROFORMATS
-------------------------------------------------------------- */
span.type { display: none;}


/* LAYOUT FOR SEARCH AND EDIT PROFILE
 * TODO: Wenn Templates von edit-profile und suchalternative umgestellt: löschen
-------------------------------------------------------------- */
div.item-container { background-color: #f9f9f9;  border: 1px solid #eaeaea;  margin: 5px 0px 5px 0px;  padding: 5px 5px 0px 5px;}
div.item-container div.item-content-left {  float: left;  height: 200px;  margin: 0px 0px 0px 0px;  padding: 5px 5px 5px 5px;  border: 1px solid #eaeaea;  overflow: hidden;  font-size: 0.9em;  line-height:1.2em;}
div.item-container div.item-content-left p{  margin-top: 0;  padding-top: 5px;}
div.item-content-right {  width: auto;  margin: 0px 5px 0px 120px;}
div.item-content-right div.item-header h4.entry-title span.item-headline{  width: 200px;  overflow: hidden;}
div.item-content-right div.item-header h4{  line-height: 20px; }
div.item-container p.description-row{  margin: 0px 0px 5px 5px;  padding: 10px 0px 0px 0px;}
div.item-container div.item-meta{  font-size: 0.9em;  width: auto;  line-height: 20px;  height: 20px;  padding: 0px 0px 0px 5px;}
div.item-container div.item-meta ul.item-meta-list {  display: inline;}
div.item-container div.item-meta ul.item-meta-list li {  display: block;  float: left;  padding: 0px 10px 0px 0px;}
div.item-container div.item-meta ul.item-meta-list li.keyword-rating{  width: 120px; }
div.item-container div.item-content {  width: auto;  background-color: #fff;}


/* PAGER
-------------------------------------------------------------- */
.page-navigation-top {  border-bottom: 1px dashed #a3a3a3;  margin: 0px 0px 10px 0px; padding: 0px 0px 0px 0px; }
.page-navigation-top#contacts-overview {padding-top: 30px;}
.page-navigation {  margin: 0px 0px 0px 0px;  padding: 10px 0px 0px 5px;}
.pager {padding: 0px 0px 4px 4px; margin:0; }
.pager ol {display: block; text-align: center; margin:0; padding:0;}
.pager li {display: block; float: left; margin-right: 3px; border-top: 3px solid #f9f9f9;}
.page-navigation-top .pager li {border-top: 3px solid #fff;}
.pager li.current {border-top: 3px solid #ccc;}
.pager li span {display: block; float: left; border: 1px solid #eee; height: 16px; padding:0 2px;}
.pager li.current span {border: 2px solid #fff; font-weight: bold;}
.page-navigation-top .pager li.current span {border: 2px solid #f9f9f9;}
.pager li span a {display: block; float: left; height: 14px; width: auto; border: 1px solid #fff; color: #585A5D}
.pager li span a:hover {border: 1px solid #ccc; color: #585A5D}


/* ZWEISPALTIGE LISTE
-------------------------------------------------------------- */
ul.twocol-list{  margin-bottom: 5px;}
ul.twocol-list li{  padding: 0px 0px 2px 0px;}
ul.twocol-list li div.twocol-label{  width: 120px;  float: left;  padding: 0px 0px 0px 5px;  font-weight: bold;  color: #585A5D;}
ul.twocol-list li div.twocol-content{  margin: 0px 10px 0px 126px;  width: auto; }
ul.twocol-list li div.twocol-content a img{  vertical-align: middle;}
ul.twocol-list li span.twocol-content-empty{  color: #bbbec3;}

/* DREISPALTIGE LISTE
 * TODO: Wenn Templates von edit-profile umgestellt: löschen
-------------------------------------------------------------- */
ul.threecol-list{  margin: 0px 0px 0px 0px;  padding-top: 5px; }
ul.threecol-list li{  padding: 0px 0px 5px 0px; height: 26px;}
ul.threecol-list li div.threecol-left{  width: 135px;  float: left;  padding: 5px 0px 0px 0px;  font-weight: bold;  color: #585A5D;}
ul.threecol-list li div.threecol-middle{float:left; margin: 0px 10px 0px 0px;  padding-top: 3px;  width: 300px;}
ul.threecol-list li div.threecol-right{ margin: 0px 0px 0px 0px;padding-top: 3px;  width: auto;}

/* LINKS
 * TODO: Wenn alle umgestellt, dann in Typo.css verschieben
-------------------------------------------------------------- */
a.internlink:link, a.internlink:visited{color: #585A5D; text-decoration: none; }
a.internlink:active,a.internlink:focus,a.internlink:hover{ color: #1E90FF; }


/* Report Abuse Button */
div.report-abuse-container{padding:10px;}
div.report-abuse-container p.report-abuse-description{border-bottom: 1px dashed #A3A3A3;padding-bottom:20px; margin-bottom:20px;}
div.report-abuse-container textarea{width: 565px; height: 70px;}
div.report-abuse-container div#report-abuse {margin-bottom: 10px; }
div#abuse-report-div {float:right; border: 1px solid #E6E7E2;}
a.report-button{background: transparent url('/img/icons/sprites/sprite16x16_transparent.gif') right -2809px no-repeat;}
a.report-button:hover{background: transparent url('/img/icons/sprites/sprite16x16_transparent.gif') right -2845px no-repeat; text-decoration: none;}

/* REGISTRIERUNG
 * TODO: ggf. eine auth.css erstellen, wenn view umgestellt wird
-------------------------------------------------------------- */
ul.openidregdiv li{ float: left;padding:7px 0 0 0;}
ul.openidregdiv li.labelrow { width: 150px; color:#585A5D;  display:block;  float:left; font-weight:bold; line-height:1.9em;  padding:3px 10px 0 0; text-align:left;  white-space:nowrap;}

.module-auth .auth-buttons{ padding-left: 24%;}
.auth-buttons label#openid-login-button-label { width: 100px;}
span.info-meta {color: #ccc;font-size:10px;}



#facebox div.popup table td.body div.content div.outer-content{ background-color: #f9f9f9;  padding: 18px;  width: 563px; }
#facebox div.popup table td.body div.content div.outer-content div.inner-content{ padding: 10px 20px 20px 20px;}
#facebox div.popup table td.body div.content div.outer-content div.inner-content .loginform .form_row label {  width: 130px;  float: left;  margin-left: -30px;}

#facebox div.popup table td.body div.content div#register-form.outer-content{ background-color: #f9f9f9;  padding: 18px;  width: 700px; }
#facebox div.popup table td.body div.content div#register-form.outer-content div.inner-content{ padding: 10px 20px 0px 20px;}
#facebox div.popup table td.body div.content div#register-form.outer-content div.inner-content #signupform{width: 670px; float:left; margin: 10px auto;}
#register-form.outer-content div.inner-content #signupform .form_row label {  display: block;  float: left;  padding: 3px 1px 0 18px;  line-height: 1.9em;  text-align: left;  font-weight: bold;  white-space: nowrap;  color: #444;}
#register-form.outer-content div.inner-content #signupform ul.openidregdiv li.labelrow {  padding:3px 20px 0 0; }
#register-form.outer-content div.inner-content #signupform .persistent {  padding: 7px 0 3px 167px;}


/** LOADING **/
div.save { padding:4px; margin: 0 5px 0 0; width: 16px; height: 16px; background: url(/img/ajax-loader-white.gif) no-repeat center center; float: left; }
div.save img { display: none; padding:4px; margin: 0 5px 0 0; }
.saveButtonDisabled { background: #ccc; color: #fff; border-color: #bbb; }

/**Newsletter **/
p.newsletter-register-description{border-bottom: 1px dashed #a3a3a3;padding-bottom:10px;margin-bottom:20px;}
form.newsletter-form table tr td{font-weight: bold;padding: 2px 5px 2px 10px;}



/** autocomplete fix **/
.ac_results iframe { width: 0px; height: 0px; }

/* ACTION ICONS
-------------------------------------------------------------- */
a.edit_link{ background: transparent url('/img/icons/sprites/sprite16x16_transparent.gif') right -2374px no-repeat; padding: 0px 20px 6px 0; text-decoration: none; margin:2px 0 0 0;display: block;}
a.edit_link:hover{ background: transparent url('/img/icons/sprites/sprite16x16_transparent.gif') right -2410px no-repeat; padding: 0 20px 6px 0; text-decoration: none; margin:2px 0 0 0;display: block;}
/*a.more_link{ background: transparent url('/img/icons/sprites/sprite16x16_transparent.gif') left -3635px no-repeat; padding: 0 20px 6px 0; text-decoration: none; margin:2px 0 0 0; display: block;}
a.more_link:hover{ background: transparent url('/img/icons/sprites/sprite16x16_transparent.gif') left -3671px no-repeat; padding: 0 20px 6px 0;  text-decoration: none; margin:2px 0 0 0;display: block;}
*/
div#contact-box ul.action-list li {float:left; font-size:0.8em; margin:0px 0 0; padding:0 0px;}
div#se-identity-box ul.action-list li {float:left; font-size:0.8em; margin:0px 0 0; padding:0 0px;}



/* YIDD OFFLINE
-------------------------------------------------------------- */

.yiid-offline-image{float:left;}
.yiid-offline-content{float:left;width: 300px;margin: 30px 0 0 0;}
.yiid-offline-content p{padding:0 10px 0 20px;}
.yiid-offline-content p.offline-desc{border-bottom:1px dashed #A3A3A3;padding: 30px 10px 20px 20px}


/*FILTER-BAR
---------------------------------------------------------------*/
ul.filter {background-color: #e6e7e2;height:24px;border-right: 1px solid #C6CBCF; border-bottom: 1px solid #C6CBCF;margin:0 0 0px;padding:0px 0 0 0px;font-weight: bold;}
ul.filter li {float:left;margin:0px 0;display:block;}
ul.filter li.separator {float:left;background: transparent url('/img/separator.png') right -3px repeat-y;margin:4px 0;display:block;width:2px; height: 16px;}
ul.filter li a{padding:4px 5px 0px 5px;display:block;height: 22px;}
ul.filter li a:hover{background-color: #ffffff !important;padding:4px 5px 0px 5px;display:block;height: 22px;}
ul.filter li.active{ background: #fff ;}
ul.sub-filter{background-color: #F9F9F9;width:548px;border-bottom:1px solid #D6DADD;border-right:1px solid #D6DADD; position:absolute;z-index:100;}
ul.sub-filter li{float:left;padding:2px;height:22px;display:block;width:24px;}


/*GENERAL */
.one-col-content .background-box{float:left; border:1px solid #E9E9E9;width: 350px;height:100%; margin: 10px 20px 0 0 ;padding:20px 10px 10px 20px;}
.two-col-content .background-box{float:left; border:1px solid #E9E9E9;width: 340px;height:100%; margin: 10px 20px 0 0 ;padding:20px 10px 10px 20px;}

/*RPX*/
.background-box iframe{width: 375px !important;height:240px;color:#585A5D;}
.contentBox iframe{width: 375px !important;height:240px;color:#585A5D;border:0 none;}
div.provider-container {border:none;}
.authbox {height: 345px !important;}

/*MAIN*/
.distance-left{margin: 0 0 0 10px;}
.distance-right{margin: 0 10px 0 0;}
.distance-top{margin: 10px 0 0 0;}
.distance-bottom{margin: 0 0 10px 0;}



/*Expand Boxes*/
.expand { width: 540px;  margin-left: 0px;  left: 0px;  top: 10px;}
.expand-boxes { width: 540px;  margin-left: 0px;  left: 0px;  top: 10px;clear: left;}
.expand-boxes a.expand-boxes-title{  background: url(/img/inactive-bar.png); height:25px;  padding: 0 10px 0 10px;  margin: 5px 0 0 0;font-weight: bold; display:block; line-height:25px; }
.expand-boxes div.expand-boxes-content{  overflow: auto;  height:auto; padding: 0 0 10px 10px; }
.expand-boxes a.menue-inactive{  background: url(/img/inactive-bar.png); color: #585A5D;}
.expand-boxes a.menue-active{  background: url(/img/active-bar.png); color: #fff;}
.expand-boxes a.menue-inactive:hover{  background: url(/img/active-bar.png); color: #fff;}
.expand-boxes a.menue-active:hover{  background: url(/img/hover-bar.png); color: #fff;}
/*tip for mail*/
div.verified{float:right;margin:7px 0 0;}





/* networking */

.obj-filterbar {border-bottom:1px solid #D6DADD;height:23px;margin:20px 0 5px;color:#585A5D; font-size: 12px;}

.level1 {vertical-align:middle;line-height:23px; }
.level1 li.active{float: left;background-color: #ffffff;height:22px; margin: 0 5px 0 5px;padding: 0 5px 0 5px;border-left:1px solid #c5c3c3;border-top:1px solid #c5c3c3;border-right:1px solid #c5c3c3;border-bottom:1px solid #ffffff;}
.level1 li.inactive{float: left;background-color: #e6e7e2;height:22px; margin: 0 5px 0 5px;padding: 0 5px 0 5px; border:1px solid #c5c3c3;}
.level1 li.active a {color:#585A5D; font-size: 0.8em; font-weight: bold;text-transform:uppercase;}
.level1 li.inactive a {color: #999999;font-size: 0.8em; font-weight: bold;text-transform:uppercase;}

.level2 {background-color: #e6e7e2;height:24px;margin-top: 3px;padding:0px 0 0 0px; border-right:1px solid #D6DADD;}
.level2 li {float:left;margin:0px 0;display:block;}
.level2 li.separator {float:left;background: transparent url('/img/separator.png') right -3px repeat-y;margin:4px 0;display:block;width:2px; height: 16px;}
.level2 li a{padding:4px 5px 0px 5px;display:block;height: 20px; background-color: #e6e7e2;}
.level2 li a.filterlink:hover{background-color: #ffffff !important;}
.level2 li a.filterlink:link{background-color: #e6e7e2;}
.level2 li a.filterlink:visited{background-color: #e6e7e2;}
.level2 li a.filterlink:active{background-color: #ffffff;}


.level3 {background-color: #F9F9F9; margin-top: 1px; padding:0px 0 0 0px; height: auto; border-right:1px solid #D6DADD;}
.level3 li {float:left; margin:0px 0;display:block;}
.level3 li.separator {float:left;background: transparent url('/img/separator.png') right -3px repeat-y;margin:4px 0;display:block;width:2px; height: 16px;}
.level3 li a{ padding:4px 5px 0px 5px;display:block;height: 22px; background-color: #F9F9F9;}
.level3 li a.concretefilter:hover{background-color: #ffffff !important;}
.level3 li a.concretefilter:link{background-color: #F9F9F9;}
.level3 li a.concretefilter:visited{background-color: #F9F9F9;}
.level3 li a.concretefilter:active{background-color: #ffffff;}

.obj-filterbar-tab { background: #fff }

table.styled td.category {
  padding: 5px;
  border-bottom:1px solid #e0e0e0;
  padding-top: 20px;
  vertical-align: middle;
}
table img { vertical-align: middle; }
table.styled tr.category { padding-top: 20px; }