#content-outer{
  background-color: hsla(302,54%,50%,.5);
}

#content-outer h2,
#content-outer .additional-info{
  text-shadow: 0px 1px 1px hsla(302,54%,50%,.8);  
}

div#like-submit{
  background-color: hsla(302,54%,50%,.05);
  border: 1px solid hsla(302,54%,50%,.1);  
}
div#like-submit:hover{
    background-color: hsla(302,54%,50%,.2);
}

div#like-submit #like-oi-list li a{
  color: hsl(302,54%,50%);
}

footer{
  background-color: hsla(302,54%,50%,.5);  
}

/* background-color: hsla(333,42%,50%,.05);*/
#like-oi-list li ul {
  color: hsl(302,54%,50%);  /* #B44A7A */ 
  border: 1px solid hsl(302,54%,73%);
  border-bottom-color: hsl(302,54%,50%);
  border-top-color: hsl(302,54%,81%);
  box-shadow: 0 -1px 1px 1px hsla(302,54%,100%,.7) inset, 0 -4px 8px 0 hsla(302,54%,50%,.5) inset, 0 0 2px 8px hsla(302,54%,0%,0);
  text-shadow: 0 1px 1px #fff, 0 -1px 1px hsla(302,54%,50%,.25);  	
}


.B {
  border: 1px solid hsl(333,42%,73%);
  background: #fff url('/img/button/s.png') no-repeat 130% -20px;
  color: hsl(302,54%,50%);
  border-color: hsl(302,54%,73%);
  border-bottom-color: hsl(302,54%,50%);
  border-top-color: hsl(302,54%,81%);
  box-shadow: 0 -1px 1px 1px hsla(302,54%,100%,.7) inset, 0 -4px 8px 0 hsla(302,54%,50%,.5) inset, 0 0 2px 8px hsla(302,54%,0%,0);
  text-shadow: 0 1px 1px #fff, 0 -1px 1px hsla(302,54%,50%,.25);  
  
  
}
.B:before{
  background: hsla(302,54%,50%,1) url('/img/button/l.png') no-repeat 0px 0px;
  box-shadow: 0 1px 1px 0px hsla(302,54%,0%,.5) inset;  
}
.B:focus, .B:hover{
  border: 1px solid hsl(302,54%,65%);
  border-top-color: hsl(302,54%,46%);
  box-shadow: 0 0 0 1px #fff inset, 0 6px 12px 0 hsla(302,54%,50%,.3) inset, 0 0 4px 0 hsla(302,54%,30%,.5);
  text-shadow: 0 1px 1px hsla(302,54%,50%,.25), 0 -1px 1px #fff;  
}

.B:active {
  background-color: hsla(302,54%,70%,1);
  border-color: hsl(302,54%,30%);
  border-top-color: hsl(302,54%,30%);
  box-shadow: 0 0 0 1px #fff inset, 0 6px 12px 0 hsla(302,54%,50%,.3) inset, 0 0 4px 0 hsla(302,54%,30%,.5);
  text-shadow: 0 0px 0px hsla(302,54%,50%,0), 0 0px 0px #fff;  
}