body{ /*debugging*/
	margin: 15px;
  text-align: left;
}

*{
  margin: 0;
  padding: 0;
  font-family: Corbel, 'Trebuchet MS', Arial, sans-serif;
  font-size: 12px;
}

ul, li{ list-style:none;}

a { text-decoration:none;}

a img {border: 0;}
:focus{ outline:0px;}


.clearfix:after {  content: "."; display:block; height:0; clear:both; visibility:hidden; }/* ----- clear fix for floats ----- */
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }/* hides clearfix from IE-mac */
.clearfix { display:block; }/* end hide from IE-mac */
.alignleft { float:left; }

.error{color:#911;}
.success{color:#008000;}
.add-info{font-size: 10px; color: #666;}


/********************form-fields***********************/

input, textarea {
  outline: 0;
  -webkit-user-select:auto;
  border: 1px solid hsla(195,42%,50%,.7); /*whatever the skin color is*/
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #fff;
  box-shadow: 0 5px 5px -5px hsla(0,0%,0%,.8) inset;
  font-size: 1.1em;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: #fff;
}

/**************************popup***********************/

.popupblock{
  position: relative;
}


/********************popup-content***********************/

#content-outer{
  position: absolute;
  width: 480px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  background-color: hsla(195,42%,50%,1); /*whatever the skin color is*/
  text-align: center;
  box-shadow: 0 0 0px 8px hsla(0,0%,0%,.5), 0 0 7px 0px hsla(0,0%,0%,.4), 0 0 2px 1px hsla(0,0%,100%,.3) inset;
}

#content-outer h2,
#content-outer .additional-info{
  color: #fff;
  font-weight: normal;
  text-shadow: 0px 1px 3px hsla(0,0%,0%,.6);
  text-transform: uppercase;
  font-size: 1.8em;
  padding: 2px 1% 5px;
}
#content-outer h2 span{
  color: #fff;
  font-weight: normal;
  text-transform: none;
  font-size: .6em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  padding: 0 1em;
}
#content-outer h1{
  padding: 1ex;
  font-size: 1.5em;
  background: #fff;
  border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border-radius: 7px 7px 0 0;
    border-bottom: 1px dotted hsla(195,42%,50%,1);
}

#content-inner{
  margin: 0 1%;
  padding: 1em 2% 0;
  background-color: hsla(0,0%,100%,.8);
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  text-align: left;
}

/********************footer***********************/
footer{
  text-align: center;
}

footer ul{
  margin: 0 auto;
  padding: 1ex 0;
}

footer ul li{
  display: inline-block;
}

footer ul li a {
  border-right: 1px solid #fff;
  border-right: 1px solid hsla(0,0%,100%,.2);
  padding: 1ex;
  color: #fff;
  color: hsla(0,0%,100%,.5);
  -webkit-transition: all .6s ease-out;
  -moz-transition: all .6s ease-out;
  -ms-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  transition: all .6s ease-out;
}
footer ul li a:hover {
  color: hsla(0,0%,100%,1);
  text-decoration: underline;
}
footer ul li.active a{
  color: hsla(0,0%,100%,1);
  text-decoration: underline;
}

footer ul li:last-child a {
  border-right: 0;
}

/********************subsites/contents*******************************/


 /*scrollbar*/
textarea::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
textarea::-webkit-scrollbar-button {
  display: none;
}
textarea::-webkit-scrollbar-track{
  background: #none;
}
textarea::-webkit-scrollbar-thumb {
  border-radius: 3px;
  border: 1px solid #fff;
  background-color: hsla(195,42%,50%,.5); /*whatever the skin color is*/
}
textarea::-webkit-scrollbar-thumb:hover {
  background-color: hsla(195,42%,50%,1); /*whatever the skin color is*/
}


/********************like-content: form-fields***********************/
#popup-like-form div#comment-area textarea#area-like-comment{
  width: 98%;
  padding: 3px;
  height: 70px;
  line-height: 1.4;
  margin: 0 0 1ex;

}

#popup-like-form div#comment-area label{
  padding: 3px 0 0 0;
}

#popup-like-form div#comment-area .success{
  font-weight: bold;
}

#popup-like-form div#comment-area a#close-popup-link {
  padding-left: 10px;
}

#popup-like-form.deal-form {
  margin-top: 10px;
}



h2 span#motivation {
  white-space: normal;
}

#deal-marker {
  display: inline-block;
  position: relative;
  top: -4px;
  padding: 5px 1em;
  letter-spacing: 1px;
  border-radius: 3px;
  font-size: 1.5em;
  background-color: hsla(195,42%,50%,1);
  color: hsla(195,42%,100%,1);
  border: 1px solid hsla(0,0%,0%,.2);
  text-transform: uppercase;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  box-shadow: 0px 5px 15px -5px hsla(0,0%,100%,.5) inset, 0px 2px 5px 1px hsla(0,0%,0%,.5);
  text-shadow: 0px -1px 0px hsla(0,0%,0%,1);
}

#deal_coupon, #deal_url {
  text-align: center;
  line-height: 1.5;
  position: relative;
  margin-bottom: 1em;
}

#deal_url h3{
  font-size: 1.8em;
}

#deal_coupon {
  padding: 10px;
  border-radius: 5px;
  border: 2px dashed #000;
  box-shadow: 0px 0px 10px 0px hsla(0,0%,0%,.2), 0px 0px 40px 40px hsla(0,0%,100%,.6) inset;
}

#deal_coupon:before {
  content: '\2701';
  position: absolute;
  top: -1.05em;
  left: 15%;
  font-size: 4em;
  text-shadow: -1px 1px 1px #fff;
}

#redeemcode {
  display: block;
  background: #fff;
  color: hsla(195,42%,50%,1);
  font-weight: bold;
  font-size: 1.8em;
  margin: .4em 0 0 0;
  -webkit-user-select:auto;
  border: 1px solid hsla(0,0%,0%,.2);
  box-shadow: 2px 2px 5px 0px hsla(0,0%,0%,.15) inset;
  -webkit-transition: color .5s ease-in-out, border-color .5s ease-in-out;
}

#redeemcode:hover {
  color: hsla(195,42%,0%,1);
  border-color: hsla(0,0%,0%,.8);
}

#redeemcode::selection {
  background: hsla(195,42%,50%,1);
  color: hsla(195,42%,90%,1);
  text-shadow: 0px 1px 0px hsla(0,0%,0%,1)
}

.link.B {
  padding: 0 5px;
  margin: 5px 0;
}
.link.B:before{
  content: none;
}



/********************like-content: scroll images***********************/

#like-select-img{
  position: relative;
}

#content-inner h4 {
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: .5em;
}

p.sharedurl a {
  font-size: .8em;
  font-variant: italic;
  color: hsla(0,0%,0%,.5);
}

.scrollable {
    overflow: hidden;
    position: relative;
    width: 80px;
    height: 60px;
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0;
}

.scrollable .items {
    position: absolute;
    width: 20000em;
}

.scrollable .items div {
    float: left;
}


.gallery-control {
    left: 2px;
    position: absolute;
    top: 26px;
    width: 77px;
}

.slide-back-link {
    background: url("/img/popup/round_arrow_left.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.slide-next-link {
    background: url("/img/popup/round_arrow_right.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

#like-content{
  width: 78%;
  margin-left: 3%;
}

#like-content p{
  padding-bottom: .1em;
}


/******************like-submit/select services****************************/
div#like-submit{
  margin: 1em -2% 0;
  text-align: center;
  padding: 1em 2%;
  border-radius: 0 0 7px 7px;
  border-top: 1px dotted hsla(195,42%,50%,.4);
  background: hsla(195,42%,50%,.1);
  -moz-border-radius: 0 0 7px 7px;
  -webkit-border-radius: 0 0 7px 7px;
  -webkit-transition: all .4s ease-out;
}
div#like-submit:hover{
  border-top: 1px dotted hsla(195,42%,50%,1);
  background: hsla(195,42%,50%,.3);
}

div#like-submit ul { /* to fix justified whitespace*/
  word-spacing: -4px;
  letter-spacing: -4px;
}

div#like-submit li.B:before {
  display:none;
}

div#like-submit li.B input{
  position: relative;
  top: -3px;
}

div#like-submit li{
  height: 15px;
  vertical-align: top;
  width: 14%;
  padding: 5px 0px 9px;
  margin: 0 .5%;
  display: inline-block;
  word-spacing: 0;
  letter-spacing: 0;
}
div#like-submit li img{
  margin: 0 0 0 5px;
  height: 16px;
  width: 16px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  box-shadow: 0 0 0px 1px hsla(0,0%,30%,.2) inset;
}

div#like-submit li.B input[type="checkbox"]:checked + label, div#like-submit li:hover input + label {
  opacity: 1;
}

div#like-submit li.B input[type="checkbox"] + label {
  opacity: .65;
}

div#like-submit a.addservice {
  text-shadow: 0 -1px 1px #000, 0 1px 1px #fff;
  color: hsla(195,42%,50%,1);
  font-size: 2.5em;
  line-height: .47em;
  border: 0;
}

div#like-submit li.tos{
  display: block;
  width: 100%;
  padding:1em 0 0;
}

div#content-inner .tos a {
  color: #000;
  border-bottom: 1px dotted #888;
}

div#content-inner a.send.B {
  margin: 1ex 0 0 0;
  text-align:center;
  width: 99%;
  padding: .4em 0;
  font-size: 1.5em;
}
a.send.B:before{
  content: none;
}
.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1em;
}
#closemodal {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  width: 18px;
  height: 18px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  color:#000;
  background: #fff;
  -webkit-transition: color .4s ease-out, background .4s ease-in;
  -moz-transition: color .4s ease-out, background .4s ease-in;
  -ms-transition: color .4s ease-out, background .4s ease-in;
  -o-transition: color .4s ease-out, background .4s ease-in;
  transition: color .4s ease-out, background .4s ease-in;
}
#closemodal:hover {
  color: #fff;
  background: #000;
}

.share-url{
    height: 23px;
    padding: 3px;
    width: 447px; 
    margin-top: 10px;
}

#like-content h4{font-weight: bold;}
#meta-like-url{font-size: 11px; margin-top: 5px;}

#like-oi-list li ul.services {
  display: none;
  position: absolute;
  z-index: 100;
  width: auto;
  background-color: #fff;
  padding: 5px 15px;
  border: 1px solid #ccc;
  text-decoration: none;
  text-transform: none;
  height: auto;
  text-align: left;
  white-space: nowrap;
}

#like-oi-list li:hover ul.services {
  display:block;
  clear: both;
}

#like-oi-list li:hover ul.services li {
  display: block;
  clear: both;
  width: auto;
  padding: 3px 0;
}
