body, *{
	margin: 0;
	padding: 0;
 	font-family: Corbel, 'Helvetica Neue', Arial, sans-serif;
	font-size: 12px;
	 color: #000;

}
body {
	background:url(/img/popup/pop-upbg.jpg) center top no-repeat;
}

ul, li{ list-style:none;}

a { text-decoration:none;}
footer a:hover { text-decoration:underline;  }
a img {border: 0;}
:focus{ outline:0px;}


.clearfix:after {  content: "."; display:block; height:0; clear:both; visibility:hidden; }/* ----- clear fix for floats ----- */
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }/* hides clearfix from IE-mac */
.clearfix { display:block; }/* end hide from IE-mac */
.alignleft { float:left; }

.error{color:red;}
.success{color:green;}
.add-info{font-size: 10px; color: #666;}


/********************form-fields***********************/

input, textarea {
  padding: 10px;
  outline: 0;
  font-size: 11px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: #C9C9C9;
}

/**************************popup***********************/

.popupblock{
  width:500px;
  height:435px;
  margin:0 auto;
  position:relative;
  padding: 20px 20px 0 20px;
}




/**********************popup-header/navigation***********************/

nav{
}

nav .nav-list li{
	display: inline-block;
  line-height: 30px;
  padding: 0 0 0 5px;
  position: relative;
  font-size: 13px;
}

nav .nav-list li a,
nav .nav-list li span{
 border-right: 1px solid #fff;
 padding-right: 5px;
}

nav .nav-list li.active a{
  text-decoration: underline;
}

nav .nav-list li:last-child a,
nav .nav-list li#nav-next-to-last a{
  border-right: 0;
}

nav .nav-list li#nav-spread{
  padding-left: 70px;
}

nav .nav-list li#nav-spread a{
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: rgb(255,255,255);
  padding: 3px;
  font-size: 12px;
  font-weight: bold;
}

nav .nav-list li#nav-spread a:hover{
  text-decoration:none;
}



/********************popup-content***********************/

#content-outer{
  margin-top: 5px;
  padding: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: hsla(333,42%,50%,.5);
  text-align: center;
  box-shadow: 0 0 5px 1px hsla(0,0%,0%,1), 0 0 50px 0 hsla(0,0%,100%,.5) inset;
}

#content-outer h2,
#content-outer .additional-info{
	color: #fff;
	font-weight: normal;
	text-shadow: 0px 1px 1px hsla(333,42%,0%,.8);
	text-transform: uppercase;
	font-size: 1.3em;
	padding: 0 5px 5px;
}
#content-outer h2 span{
	color: #fff;
	text-transform: none;
	font-size: .8em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	display: inline-block;
}


#content-inner{
  padding: 10px;
  background-color: hsla(0,0%,100%,.8);
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-align: left;
}

.deal-content-inner {
  background: url("/img/popup/deal.png") top right no-repeat;
}

/********************footer***********************/
footer{
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius-bottom: 6px;
  background-color: hsla(333,42%,50%,.5);
  text-align: center;
  margin-top: 4px;
}

footer ul{
  margin: 0 auto;
}

footer ul li{
  font-size: 11px;
  line-height: 30px;
  padding: 0 0 0 5px;
  display: inline-block;
}

footer ul li a {
 border-right: 1px solid #fff;
 padding-right: 5px;
 color: #fff;
}

footer ul li.active a{
  text-decoration: underline;
}

footer ul li:last-child a {
  border-right: 0;
}




/********************subsites/contents*******************************/

/********************like-content: form-fields***********************/
#popup-like-form div{
  padding-top: 10px;
}

#popup-like-form div > div{
  padding:0px;
}

#popup-like-form div#comment-area{
  padding-top:0;
}

div#comment-area textarea#area-like-comment{
  width: 95%;
  height: 45px;
  font-size: 16px;
}

#popup-like-form div.deal-comment textarea#area-like-comment{
	margin-top: 15px;
  height: 18px;
  font-size: 12px;
}

#popup-like-form div#comment-area label{
  padding: 3px 0 0 0;
}

#popup-like-form div#comment-area .success{
  font-size: 13px;
  font-weight: bold;
}

#popup-like-form div#comment-area a#close-popup-link {
  padding-left: 10px;
}



/********************like-content: scroll images***********************/

.area-like-comment-mirror{
   font-size: 11px;
    line-height: 12px;
    min-height: 12px;
    overflow: hidden;
    padding-bottom: 5px;
    width: 100%;
}

#like-select-img{
  position: relative;
}

.scrollable {
    overflow: hidden;
    position: relative;
    width: 80px;
    height: 60px;
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0;
}

.scrollable .items {
    position: absolute;
    width: 20000em;
}

.scrollable .items div {
    float: left;
}


.gallery-control {
    left: 2px;
    position: absolute;
    top: 26px;
    width: 77px;
}

.slide-back-link {
    background: url("/img/popup/round_arrow_left.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

.slide-next-link {
    background: url("/img/popup/round_arrow_right.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 16px;
    width: 16px;
}

#like-content{
  width: 78%;
  margin-left: 10px;
}

#like-content p{
  font-size: 11px;
  line-height: 12px;
  padding-bottom: 5px;
}


/******************like-submit/select services****************************/
div#like-submit{
  padding: 0px 5px 15px 5px;
  margin-top: 15px;
  background-color: hsla(333,42%,50%,.05);
  position: relative;
  border-radius: 5px;
  border: 1px solid hsla(333,42%,50%,.1);
  -webkit-transition: background-color .5s ease-in-out;
}
div#like-submit:hover{
	  background-color: hsla(333,42%,50%,.2);
}

div#like-submit #like-response{
  height:15px;
}

div#like-submit .send.B{
  position: absolute;
  bottom: 15px;
  right: 10px;
}

div#like-submit #like-oi-list{
}

div#like-submit li.B:before {
	display:none;
}

div#like-submit li input{
	position: relative;
	top: -3px;
}

div#like-submit #like-oi-list li{
  height:15px;
  vertical-align: top;
  padding: 1px 3px 2px 3px;
  margin-right: 5px;
  display: inline-block;
}


div#like-submit #like-oi-list li a{
  padding: 1px 5px 3px;
  color: hsla(333,42%,50%,1);
}

div#like-submit #like-oi-list li a:active{
	color:#fff;
}


div#like-submit #like-oi-list li img{
  margin-left: 2px;
  opacity: .6;
}

div#like-submit #like-oi-list:hover li img{
  opacity: 1;
}


