/**
 * @section Popup
 * @subsection layout
 */
.normal_list, #normal_box #agb_text ul, #language_selection ul{list-style-type:none;margin:0;padding:0;}
#container, #content_main, #spread_description, #normal_box, #yiid_help_text, #cancel_action, #login_box, #user-line, #deal_content_main{margin: 0 auto;}
#container{width: 580px; /*height: 480px;*/}
#branding{width: 500px;height: 35px;padding: 0 0 20px 0;}
#nav_main{width: 580px; height: 25px;}
#nav_main_box{width: 137px;height:25px;float:right;}
#deal_nav_main_box{width: 160px;height:25px;float:right;, line-height: 25px; text-align: center;}
#deal_nav_main_box a{color: #fff; text-decoration: none;}
#content{width:580px;padding-top:10px;}
#content_main{width:540px;padding:10px 20px;}
#deal_content_main{width:400px;padding:10px 20px;}
#spread_description{width:500px;}
#normal_box, #yiid_help_text{width: 500px;}
#yiid_help_text{padding:20px 0 5px 0;}
.big_size{margin-bottom:5px;}
.service_icon{width:53px;margin-bottom:10px;}
#normal_box ul{margin: 10px 0 10px 30px;}
#logos_big li{float:left;width:105px;text-align:center;margin-right:5px;padding-top: 60px;}
#logos_big li a{padding-top: 60px;}
#buzz_logo{padding-left:14px;padding-right:14px;}
#facebook_logo{padding-left:1px;padding-right:1px;}
#twitter_logo{padding-left:8px;padding-right:9px;}
#linkedin_logo{padding-left:8px;padding-right:8px;}
#logos_small{margin-left:20px;}
#logos_small li{float:left;text-align:center;padding-top: 40px;margin-right:20px;}
#logos_small a{padding-top: 40px;}
#buzz_logo_small{padding-left:4px;padding-right:4px;}
#facebook_logo_small{padding-left:1px;padding-right:1px;}
#twitter_logo_small{padding-left:8px;padding-right:8px;}
li#further_logos{margin-right: 0;width:10px;margin-top:60px;padding-top:0}
#welcome_text{padding: 10px 20px;}
#agb_text{overflow: auto;overflow-x: hidden;margin:0 20px 10px 20px;padding:10px 20px;height:80px;}
#login_box{width:420px;margin:20px auto 0;padding:10px 20px;}
.left{float:left;}
.right{float:right;}
#cancel_action, #see_friends_actions{width: 450px;margin-top:10px;}
#user-line{width: 500px;}
#profile_avatar{margin-right:10px;}
#error_box{width:420px;margin:0 auto;padding:10px 20px 10px 60px;min-height:20px;}
#error_box h1{margin-bottom: 5px;}
.error_list li{margin-bottom: 20px; padding-bottom: 10px;}
#normal_box ul.error_list{margin: 30px 50px;}
#help_area{position: absolute;width: 480px;z-index: 1000;padding:20px 30px;min-height:235px;margin: 20px 0 0 20px;}
#help_area>p{margin-bottom: 30px;}
#twocol_left, #twocol_right_add, #twocol_right_empty{width: 210px;min-height: 150px;padding:10px 20px;}
#twocol_wide_left{
  width: 300px;
  min-height: 150px;
  padding:10px 20px;
}
#twocol_right_short_add{
  width: 120px;
  min-height: 150px;
  padding:10px 20px;
}
#so_right_view{
  margin-bottom: 20px;
}
.btn{padding: 2px 30px 2px 20px;width:130px;display: inline;}
#services_chosen li{line-height: 25px;margin-bottom:5px;}
#services_to_choose li{padding-bottom:30px;}
#services_to_choose a{padding: 15px 0 15px 50px;}
#services_chosen label{margin-left: 30px;}
#services_to_choose{margin-top:30px;}
#agree_tos{margin: 0 10px 10px 0;}
#agb_text h1, #agb_text h2, #agb_text h3, #agb_text h4, #agb_text h5{margin: 10px 0;}
#language_selection{padding:10px 0 0 0;}
#language_selection li{float:left;padding-right: 7px;}
#language_selection img{border:1px solid #e6e6e6;}
#language_selection img:hover{border:1px solid #D3D3D3;}

.so_image{width: 10%;height: 50px;margin: 5px 0 0 5px;}
#so_detail_desc{padding-top: 2px;}
#so_detail_desc img{margin: 0 15px 8px 0;border: 1px solid #DDDDDD;}
h3.small_margin{margin: 5px 0 3px;}
#services_chosen{margin-bottom: 10px;}
.popup_button, .popup_button_used{margin-top: 10px;padding: 5px 10px;display: inline;}
/*.sharing_button{padding: 5px;}*/
.sharing_button{padding: 5px 8px;}
.distance_right{margin-right: 5px;}
.already_shared{color: #4EA734;font-weight: bold;}


/**
 * @section Popup
 * @subsection color
 */
body, .popup_button{background-color: #FFFFFF;color:#6a6b6a;}
.popup_button_used{
  background-color: #6a6b6a;
  color: #fff;
}
input.btn[type=submit]{color:#6a6b6a;}
.container_border{border:2px solid #c1c1c1;}
.content_main_border{border:1px solid #cdcdcd;}
.rounded_corners{border-radius: 0.5em;-moz-border-radius: 0.5em;-webkit-border-radius: 0.5em;}
#branding{background: url("/img/sprites/sprite_popup.png") no-repeat 40px -1130px;}
#nav_main{background: url("/img/sprites/sprite_popup.png") no-repeat 0 0;}
#content{background: transparent url("/img/sprites/sprite_popup.png") no-repeat 0 -1303px;}
#normal_box{background-color: #F2F2F2;}
.light_text{color:#fff;}
.dark_text{color:#6A6B6A;}
a{color: #68B94F;}
/*.likeit_button{background: #fff url("/img/sprites/sprite_popup.png") no-repeat -569px -875px;}*/
.likeit_button{background: #fff url("/img/sprites/sprite_popup.png") no-repeat -539px -902px;}
.popup_button_used .likeit_button{
  background-color: #6a6b6a;
}
.already_shared .likeit_button{background-color: transparent;}
/*.dislikeit_button{background: #fff url("/img/sprites/sprite_popup.png") no-repeat -557px -875px;}*/
.dislikeit_button{background: #fff url("/img/sprites/sprite_popup.png") no-repeat -562px -902px;}
.popup_button_used .dislikeit_button{
  background-color: #6a6b6a;
}
.already_shared .dislikeit_button{background-color: transparent;}
.popup_button:hover, .popup_button:hover .likeit_button, .popup_button:hover .dislikeit_button{background-color: #f2f2f2;}
#google_logo{background: url("/img/sprites/sprite_popup.png") no-repeat 0 -575px;}
#facebook_logo{background: url("/img/sprites/sprite_popup.png") no-repeat 0 -785px;}
#twitter_logo{background: url("/img/sprites/sprite_popup.png") no-repeat 0 -1003px;}
#further_logos{background: url("/img/sprites/sprite_popup.png") no-repeat 0 -1269px;}
#linkedin_logo{background: url("/img/sprites/sprite_popup.png") no-repeat -453px -1195px;}
#google_logo_small{background: url("/img/sprites/sprite_popup.png") no-repeat 0 -523px;}
#facebook_logo_small{background: url("/img/sprites/sprite_popup.png") no-repeat 12px -734px;}
#linkedin_logo_small{background: url("/img/sprites/sprite_popup.png") no-repeat 12px -734px;}
#twitter_logo_small{background: url("/img/sprites/sprite_popup.png") no-repeat 10px -953px;}
#agb_text{border: 1px solid #d7d7d7;}
a.question_link{color: #FFFFFF !important;}
#error_box{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat 5px -1223px;}
.light_background, #login_box{background: #F2F2F2;}
#error_box{color:#ea4036;}
.error_list li{border-bottom: 1px solid #cdcdcd;}
.btn{background: #fff url("/img/sprites/sprite_popup.png") no-repeat 110px -1269px;}
.btn:hover{background-color: #4EA734;color: #fff;}
#check_facebook{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat 25px -700px;}
#choose_facebook{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat 0 -859px;}
#check_google{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat  25px -490px;}
#choose_google{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat  0 -643px;}
#check_twitter{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat  25px -918px;}
#choose_twitter{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat  0 -1080px;}
#check_linkedin{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat -500px -1133px;}
#choose_linkedin{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat -523px -1258px;}
#add_facebook{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat 0 -860px;}
#add_buzz{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat 0 -645px;}
#add_twitter{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat 0 -1079px;}
#add_linkedin{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat 0 -860px;}


/**
 * @section Popup
 * @subsection typo
 */
body{font-size:12px;line-height:14px;font-family: arial, helvetica, sans-serif;}
h1{margin:0;line-height: 22px;}
p{margin:0 0 5px 0;}
.small_size{font-size: 11px;line-height: 16px;}
.normal_size{font-size: 12px;}
.important_text, .btn, .popup_button, .popup_button_used{font-weight: bold;}
.big_size{font-size: 14px;}
#cancel_action, #nav_main{text-align: right;}
#nav_main_box, .popup_button, .popup_button_used{text-align: center;}
#nav_main_box{line-height: 25px;}
#login_box{line-height: 20px;}
a.question_link{text-decoration: underline !important;}
#error_box h1{font-size: 14px;}
#error_box p{font-size: 12px;}
#help_area, .popup_button, .popup_button_used{line-height: 22px;}
.btn, .popup_button{cursor: pointer;}
.popup_button_used{
  cursor: default;
}
#agb_text a, #agb_text p{line-height: 16px;}
#user-line h1{font-size: 16px;}

/***************popup******************/

.deal-box {
text-align:center;
padding-left:10px;
text-align:center;
width:410px;
}

.deal-box .content-box {
margin-left:0;
margin-top:5px;
}
.content-box {
-moz-border-radius:1em 1em 1em 1em;
background-color:#FAFAFA;
border:2px solid #CDCDCD;
display:block;
margin:10px;
overflow:hidden;
padding:1em;
}

.deal-box .content-box .content-box {
-moz-border-radius:0 0 0 0;
margin-left:10px;
}

.dashed{
	border:1px dashed #000000;
}

.deal-box .content-box {
margin-left:0;
margin-top:5px;
}

.yellow {
background-color:#FEFECC;
text-align: center;
padding: 10px;
}

.meta-label {
  font-size:10px;
}

.coupon-summary  {
	font-weight:bold;
	margin-bottom:10px;
}

.coupon-description  {
  border: 1px solid #666566;
  padding: 8px;
  font-size: 15px;
}

.coupon-foot {
font-size:10px;
margin-bottom:5px;
margin-top:10px;
}


/* The core of clearfix */
.clearfix:after {content: ".";display: block;clear: both;height: 0;visibility: hidden;}

/* IE-Patches for clearfix */
.clearfix {display: inline-block;}

/* Start: hide for IE5/Mac with commented backslash Hack \*/
* html .clearfix{height: 1px;}
.clearfix{display: block;}
/* End: hide for IE5/Mac with commented backslash Hack */ /* basics */

#general-ajax-loader{z-index: 1000000; position: absolute; display:none;}