/**
 * @section Popup
 * @subsection layout
 */
.normal_list, #normal_box #agb_text ul, #language_selection ul{list-style-type:none;margin:0;padding:0;}
#container, #content_main, #spread_description, #normal_box, #yiid_help_text, #cancel_action, #login_box, #user-line{margin: 0 auto;}
#container{width: 580px; /*height: 480px;*/}
#branding{width: 580px;height: 35px;padding: 0 0 20px 0;}
#nav_main{width: 580px; height: 25px;}
#nav_main_box{width: 137px;height:25px;float:right;} 
#content{width:580px;padding-top:10px;}
#content_main{width:540px;padding:10px 20px;}
#spread_description{width:500px;}
#normal_box, #yiid_help_text{width: 500px;}
#yiid_help_text{padding:20px 0 5px 0;}
.big_size{margin-bottom:5px;}
.service_icon{width:53px;margin-bottom:10px;}
#normal_box ul{margin: 10px 0 10px 70px;}
#logos_big li{float:left;width:125px;text-align:center;margin-right:90px;padding-top: 60px;}
#logos_big li a{padding-top: 60px;}
#buzz_logo{padding-left:14px;padding-right:14px;}
#facebook_logo{padding-left:1px;padding-right:1px;}
#twitter_logo{padding-left:8px;padding-right:8px;}
#logos_small{margin-left:20px;}
#logos_small li{float:left;text-align:center;padding-top: 40px;margin-right:20px;}
#logos_small a{padding-top: 40px;}
#buzz_logo_small{padding-left:4px;padding-right:4px;}
#facebook_logo_small{padding-left:1px;padding-right:1px;}
#twitter_logo_small{padding-left:8px;padding-right:8px;}
li#twitter_area{margin-right: 30px;}
li#further_logos{margin-right: 0;width:10px;margin-top:60px;padding-top:0}
#welcome_text{padding: 10px 20px;}
#agb_text{overflow: auto;overflow-x: hidden;margin:0 20px 10px 20px;padding:10px 20px;height:80px;}
#login_box{width:420px;margin:20px auto 0;padding:10px 20px;}
.left{float:left;}
.right{float:right;}
#cancel_action, #see_friends_actions{width: 450px;margin-top:10px;}
#user-line{width: 500px;}
#profile_avatar{margin-right:10px;}
#error_box{width:420px;margin:0 auto;padding:10px 20px 10px 60px;min-height:20px;}
#error_box h1{margin-bottom: 5px;}
.error_list li{margin-bottom: 20px; padding-bottom: 10px;}
#normal_box ul.error_list{margin: 30px 50px;}
#help_area{position: absolute;width: 480px;z-index: 1000;padding:20px 30px;min-height:235px;margin: 20px 0 0 20px;}
#help_area>p{margin-bottom: 30px;}
#twocol_left, #twocol_right_add, #twocol_right_empty{width: 210px;min-height: 150px;padding:10px 20px;}
.btn{padding: 2px 30px 2px 20px;width:130px;}
#services_chosen li{line-height: 25px;margin-bottom:5px;}
#services_to_choose li{padding-bottom:30px;}
#services_to_choose a{padding: 15px 0 15px 50px;}
#services_chosen label{margin-left: 30px;}
#services_to_choose{margin-top:30px;}
#agree_tos{margin: 0 10px 10px 0;}
#agb_text h1, #agb_text h2, #agb_text h3, #agb_text h4, #agb_text h5{margin: 10px 0;}
li#check_google{margin-bottom:15px;}

#language_selection{padding:10px 0 0 0;}
#language_selection li{float:left;padding-right: 7px;}
#language_selection img{border:1px solid #e6e6e6;}
#language_selection img:hover{border:1px solid #D3D3D3;}



/**
 * @section Popup
 * @subsection color
 */
body{background-color: #FFFFFF;color:#6a6b6a;}
input.btn[type=submit]{color:#6a6b6a;}
.container_border{border:2px solid #c1c1c1;}
.content_main_border{border:1px solid #cdcdcd;}
.rounded_corners{border-radius: 0.5em;-moz-border-radius: 0.5em;-webkit-border-radius: 0.5em;}
#branding{background: url("/img/sprites/sprite_popup.png") no-repeat 40px -1130px;}
#nav_main{background: url("/img/sprites/sprite_popup.png") no-repeat 0 0;}
#content{background: transparent url("/img/sprites/sprite_popup.png") no-repeat 0 -1303px;}
#normal_box{background-color: #F2F2F2;}
.light_text{color:#fff;}
.dark_text{color:#6A6B6A;}
a{color: #68B94F;}
#buzz_logo{background: url("/img/sprites/sprite_popup.png") no-repeat 0 -575px;}
#facebook_logo{background: url("/img/sprites/sprite_popup.png") no-repeat 0 -785px;}
#twitter_logo{background: url("/img/sprites/sprite_popup.png") no-repeat 0 -1003px;}
#further_logos{background: url("/img/sprites/sprite_popup.png") no-repeat 0 -1269px;}
#buzz_logo_small{background: url("/img/sprites/sprite_popup.png") no-repeat 0 -523px;}
#facebook_logo_small{background: url("/img/sprites/sprite_popup.png") no-repeat 12px -734px;}
#twitter_logo_small{background: url("/img/sprites/sprite_popup.png") no-repeat 10px -953px;}
#agb_text{border: 1px solid #d7d7d7;}
a.question_link{color: #FFFFFF !important;}
#error_box{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat 5px -1223px;}
.light_background, #login_box{background: #F2F2F2;}
#error_box{color:#ea4036;}
.error_list li{border-bottom: 1px solid #cdcdcd;}
.btn{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat 110px -1269px;}
#check_facebook{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat 25px -700px;}
#choose_facebook{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat 0 -859px;}
#check_google{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat  25px -490px;}
#choose_buzz{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat  0 -643px;}
#check_twitter{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat  25px -918px;}
#choose_twitter{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat  0 -1080px;}
#add_facebook{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat 0 -860px;}
#add_buzz{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat 0 -645px;}
#add_twitter{background: #F2F2F2 url("/img/sprites/sprite_popup.png") no-repeat 0 -1079px;}


/**
 * @section Popup
 * @subsection typo
 */
body{font-size:12px;line-height:14px;font-family: arial, helvetica, sans-serif;}
h1{margin:0;line-height: 22px;}
p{margin:0 0 5px 0;}
.small_size{font-size: 11px;line-height: 16px;}
.normal_size{font-size: 12px;}
.important_text{font-weight: bold;}
.big_size{font-size: 14px;}
#cancel_action, #nav_main{text-align: right;}
#nav_main_box{line-height: 25px;text-align: center;}
#login_box{line-height: 20px;}
a.question_link{text-decoration: underline !important;}
#error_box h1{font-size: 14px;}
#error_box p{font-size: 12px;}
#help_area{line-height: 22px;}
.btn{cursor: pointer;}
#agb_text a, #agb_text p{line-height: 16px;}
#user-line h1{font-size: 16px;}



/* The core of clearfix */
.clearfix:after {content: ".";display: block;clear: both;height: 0;visibility: hidden;}

/* IE-Patches for clearfix */
.clearfix {display: inline-block;}

/* Start: hide for IE5/Mac with commented backslash Hack \*/
* html .clearfix{height: 1px;}
.clearfix{display: block;}
/* End: hide for IE5/Mac with commented backslash Hack */ /* basics */