<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Spread</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/styles.css" media="screen" />
<link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
<script type="text/javascript" src="js/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="js/dropdown.js"></script>
<script type="text/javascript" src="js/cust_checkbox_plugin.js"></script>
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="css/ie.css" />
<![endif]-->
<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"> </script>
<script>
  DD_belatedPNG.fix('*');
</script>
<![endif]-->
</head>
<body class="innerpage">
<div id="wrapper"> 
	<!--feedback box start-->
	<div class="feedback"><a href="#"><img src="img/feedback.png" alt="Feedback" title="Feedback" width="155" height="137" /></a></div>
	<!--feedback box end-->
	<div id="header">
		<div class="clearfix">
			<div id="logo-spread" class="alignleft"><img src="img/spread-logo-domain.png" width="306" height="128" alt="" /></div>
			<span class="alignleft easy-tagline"><img src="img/easy-tagline.png" width="237" height="63" alt="It's as easy as cut, copy and paste" title="It's as easy as cut, copy and paste" /></span> </div>
	</div>
	<!--Content start here -->
	<div id="content" class="clearfix"> 
		<!--Top Navigation box start -->
		<div class="topnavblock">
			<div class="grboxtop"><span></span></div>
			<div class="grboxmid">
				<div class="grboxmid-content">
					<div class="graybox clearfix">
						<div class="languagebox alignright"><a href="#" class="alignleft logout" title="Log in">Log in</a><a href="#" title="Registration" class="alignleft logout last">Registration</a> <a href="#" class="alignleft"><img src="img/uk-flag-icon.png" width="25" height="26" alt="UK" title="UK" /></a><a href="#" class="alignleft"><img src="img/germany-flag.png" width="25" height="26" alt="Dutch" title="Dutch" /></a> </div>
						<ul id="topnavigation" class="alignleft">
							<li><a href="#" title="Home"><span>Home</span></a></li>
							<li><a href="#" title="ButtonCode" class="active"><span>ButtonCode</span></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="grboxbot"><span></span></div>
		</div>
		<!--Top Navigation box end --> 
		<!--veryfied box start -->
		<div>
			<div class="grboxtop"><span></span></div>
			<div class="grboxmid">
				<div class="grboxmid-content">
					<div class="graybox clearfix">
						<div class="alignleft buttoncode_list">
							<h3 class="sub_title">Step 1: Choose Type of Site</h3>
							<dl>
								<dd class="allweb-btn alignleft">
									<ul>
										<li><a href="#"><img src="img/wordpress-icon.png" width="51" height="51" alt="Wordpress" title="Wordpress" /></a><span><a href="#" title="Wordpress">Wordpress</a></span></li>
										<li><a href="#"><img src="img/bloger-icon.png" width="51" height="51" alt="Blogger" title="Blogger" /></a><span><a href="#" title="Blogger">Blogger</a></span></li>
										<li><a href="#"><img src="img/tumblr-icon.png" width="51" height="51" alt="Tumblr" title="Tumblr" /></a><span><a href="#" title="Tumblr">Tumblr</a></span></li>
										<li><a href="#"><img src="img/poste-icon.png" width="51" height="51" alt="Posterous" title="Posterous" /></a><span><a href="#" title="Posterous">Posterous</a></span></li>
										<li class="removerpad"><a href="#"><img src="img/megento-icon.png" width="51" height="51" alt="Magneto" title="Magneto" /></a><span><a href="#" title="Magneto">Magneto</a></span></li>
										<li><a href="#"><img src="img/joomla-icon.png" width="51" height="51" alt="Joomla" title="Joomla" /></a><span><a href="#" title="Joomla">Joomla</a></span></li>
										<li><a href="#"><img src="img/typo-icon.png" width="51" height="51" alt="Typo3" title="Typo3" /></a><span><a href="#" title="Typo3">Typo3</a></span></li>
										<li><a href="#"><img src="img/mediawiki-icon.png" width="51" height="51" alt="MediaWiki" title="MediaWiki" /></a> <span><a href="#" title="MediaWiki">MediaWiki</a></span></li>
										<li><a href="#"><img src="img/drupal-icon.png" width="51" height="51" alt="Drupal" title="Drupal" /></a> <span><a href="#" title="Drupal">Drupal</a></span></li>
										<li><a href="#"><img src="img/text-pattern-icon.png" width="51" height="51" alt="TextPattern" title="TextPattern" /></a> <span><a href="#" title="TextPattern">TextPattern</a></span></li>
									</ul>
								</dd>
								<dd class="otherweb-box alignright">
									<ul>
										<li><a href="#"><img src="img/otherwebsite-icon.png" width="51" height="51" alt="Other websites" title="Other websites" /></a> <span><a href="#" title="Other websites">Other websites</a></span></li>
										<li><a href="#"><img src="img/email-msgicon.png" width="51" height="51" alt="Email &amp; Signatures" title="Email &amp; Signatures" /></a> <span><a href="#" title="Email &amp; Signatures">Email &amp; Signatures</a></span></li>
									</ul>
								</dd>
							</dl>
						</div>
						<div class="alignright help_content">
							<h3 class="title">Lorem Help</h3>
							<p>Lorem ipsum at virtute delenit intellegam vim, eos no alii pertinax ocurreret. An affert regione civibus per, et atqui sonet ceteros sit, magna nemore constituam ex nec. </p>
							<p>Eu ius aliquid impeditrepudiandae, mei illum aliquam et, sea ne putant feugait. Verear alterum fabellas eam ea, nam deleniti offendit similique ut. Mea at ornatus nominati.</p>
							<p>Lusto lucilius vituperatoribus eam ut. Sint nemore eam ei, efficiendi neglegentur voluptatibus.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="grboxbot botspace"><span></span></div>
		</div>
		<div class="contentbox">
			<div class="grboxtop"><span></span></div>
			<div class="grboxmid midcontent">
				<div class="grboxmid-content">
					<div class="graybox clearfix">
						<div>
							<div class="alignright help_content step2_content">
								<h3 class="title">Lorem Help</h3>
								<p>Lorem ipsum at virtute delenit intellegam vim, eos no alii pertinax ocurreret. An affert regione civibus per, et atqui sonet ceteros sit, magna nemore constituam ex nec. </p>
								<p>Eu ius aliquid impeditrepudiandae, mei illum aliquam et, sea ne putant feugait. Verear alterum fabellas eam ea, nam deleniti offendit similique ut. Mea at ornatus nominati.</p>
								<p>Lusto lucilius vituperatoribus eam ut. Sint nemore eam ei, efficiendi neglegentur voluptatibus.</p>
							</div>
							<div class="alignleft stylestatus_box">
								<h3 class="sub_title">Step 2: Choose Site &amp; Style</h3>
								<div class="innerloginbox">
									<form action="">
										<fieldset class="group">
											<div class="clearfix">
											<label class="textfield"><span>
												<input type="text" class="wd183" name="" value="Username or email" onblur="if (this.value == ''){this.value = 'Username or email';}" onfocus="if (this.value == 'Username or email') {this.value = '';}"  />
												</span>
											</label>
										</div>
										<div class="stylechoose_box clearfix">
											<div class="group radiobtn_list alignleft">
												<label for="radio1">&nbsp;</label><input type="radio" value="1x" name="checkboxone" id="radio1"/>
												<label for="radio2">&nbsp;</label><input  type="radio" value="1x" name="checkboxone" id="radio2" checked="checked"/>
											</div>
											<div class="status_list alignleft">
												<ul>
													<li><div class="clearfix status"><a href="#" class="like_btn alignleft"><span>Like</span></a> <span class="comment_label">586</span> </div></li>
													<li class="last"><div class="clearfix status"> <a href="#" class="like_btn alignleft"><span>Like</span></a> <span class="comment_label">586</span> </div><div class="likeimg"><img src="img/user-pic1.jpg" alt="" title=""/></div></li>
												</ul>
											</div>
										</div>
										<div class="select_label">
											<span class="tag">Choose Language (for PopUp):</span>
											<label id="http-sel">
												<select class="custom-select">
													<option selected="selected">English</option>
													<option>German</option>
												</select>
											</label>
										</div>
										</fieldset>
									</form>
								</div>
							</div>
							<div class="alignleft grabcode_box">
								<h3 class="sub_title">Step 3: Grab Your Code</h3>
								<div class="textariabox">
									<div class="textaria_top"><span>&nbsp;</span></div>
									<div class="textaria_middle">
										<div class="textaria_right">
											<label class="textareablock">
												<textarea rows="10" cols="10">&lt;iframe allowtransparency='true' expr:src='&amp;quot;http://widgets.yiid.com/w/like/like.php?cult=en&amp;amp;type=like&amp;amp;color=%23000000&amp;amp;social=&amp;amp;short=&amp;amp;url=&amp;quot; + data:post.url' frameborder='0' marginheight='0' marginwidth='0' scrolling='no'/&gt;</textarea>
											</label>
										</div>
									</div>
									<div class="textaria_bot"><span>&nbsp;</span></div>
									<div class="copycodebox clearfix"> <a href="#" title="Copy code" class="graybtn alignleft"><span>Copy code</span></a><span class="optionltext">Optional: register to get your statistics, it's free!</span> </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="grboxbot"><span></span></div>
		</div>
		<!--veryfied box end --> 
		

	</div>
	<!--Content end here -->
	<div id="footer"><span>Copyright Yidd 2010</span> | <a href="#" title="Imprint">Imprint</a> | <a href="#" title="TOS">TOS</a> | <a href="#" title="Privacy Policy">Privacy Policy</a> | <a href="mailto:info@yiid.com ">info@yiid.com </a></div>
</div>
<script type="text/javascript">
	// Custom Checkbox Function
    $("select.custom-select").jgdDropdown();
	$("input[type='radio']").custCheckBox();
</script>
</body>
</html>