@CHARSET "UTF-8";

/*#container{border: 8px #D7D7D7 solid;}*/

/*a, .filter_headline{color: #4EA734;}*/

a, 
.filter_headline, 
.filter_headline, 
.whats_hot_active #main_nav_inner2 p, 
.whats_not_active #main_nav_inner4 p, 
.whats_new_active #main_nav_inner7 p, 
#search1{
  color: #306f1d;
}

p, 
a.text_action, 
h1,
h3, 
h2, 
h5, 
.btn,
.user_share,
#content label,
.search_field_area input{color: #5A5E5A;}
.url, 
a.url, 
span.url, 
.like-dislike{color: #8A8484;}
.error{color: #f97759;}

#stream_left_top p, 
#stream_right_top p, 
#footer, 
.filter_headline_active a,
#footer a,
#footer h5{color: #fff;}

.actions{background-color: #f5f5f5;}


/* Header */
#header{background: transparent url("/img/sprites/sprite_general.png") 50px 0 no-repeat;border-bottom: 5px #6A6B6A solid;}
#header_yiidcc{background: transparent url("/img/global/yiid_cc_logo.png") 50px 10px no-repeat;border-bottom: 5px #6A6B6A solid;}
  #nav_home{background: transparent url("/img/sprites/sprite_icons.png") 0 -151px no-repeat;}
  #nav_profile{background: transparent url("/img/sprites/sprite_icons.png") 0 -111px no-repeat;}
  #nav_settings{background: transparent url("/img/sprites/sprite_icons.png") 0 -190px no-repeat;}
  #language_selecten_icon_de_active{background: transparent url("/img/global/flags/de.gif") 0 3px no-repeat;}
  #language_selecten_icon_en_active{background: transparent url("/img/global/flags/en.gif") 0 3px no-repeat;}
  #language_selecten_icon_de_inactive{background: transparent url("/img/global/flags/de_grey.gif") 0 3px no-repeat;}
  #language_selecten_icon_en_inactive{background: transparent url("/img/global/flags/en_grey.gif") 0 3px no-repeat;}
  #language_selecten_icon_de_inactive:hover{background: transparent url("/img/global/flags/de.gif") 0 3px no-repeat;}
  #language_selecten_icon_en_inactive:hover{background: transparent url("/img/global/flags/en.gif") 0 3px no-repeat;}

/* Content */
#content{background: transparent url("/img/sprites/sprite_repeat_x.png") 0 -367px repeat-x;}

/* Content_sub */
.filter_headline{background-color: #ebebeb;}
.filter_headline_active{background-color: #69BD50;}
.btn{background: #F2F2F2 url("/img/sprites/sprite_general.png") no-repeat 125px -274px;}
.icon_facebook{background: transparent url("/img/sprites/sprite_icons.png") 8px -374px no-repeat;}
.icon_twitter{background: transparent url("/img/sprites/sprite_icons.png") 8px -409px no-repeat;}
.icon_google{background: transparent url("/img/sprites/sprite_icons.png") 8px -444px no-repeat;}
.icon_small_facebook{background: transparent url("/img/sprites/sprite_icons.png") 0 -480px no-repeat;}
.so_share_information .icon_small_facebook{background-position: 0 -478px;}
.icon_small_twitter{background: transparent url("/img/sprites/sprite_icons.png") 0 -510px no-repeat;}
.so_share_information .icon_small_twitter{background-position: 0 -509px;}
.icon_small_google{background: transparent url("/img/sprites/sprite_icons.png") 0 -542px no-repeat;}
.so_share_information .icon_small_google{background-position: 0 -540px;}

/*.filter_chosen, a.friend_filter_link_active{background-color: #69bd50;}*/
.filter_chosen_icon{
  width: 6px;
  height: 8px;
  margin: 7px 0 0;
  background: transparent url("/img/sprites/sprite_general.png") 0 -292px no-repeat;
}

.icon_like{background: transparent url("/img/sprites/sprite_icons.png") 0 -226px no-repeat;}
.icon_dislike{background: transparent url("/img/sprites/sprite_icons.png") 0 -252px no-repeat;}
.icon_comment{background: transparent url("/img/sprites/sprite_icons.png") 0 -280px no-repeat;}
.icon_favorite{background: transparent url("/img/sprites/sprite_icons.png") 0 -314px no-repeat;}
.icon_hide{background: transparent url("/img/sprites/sprite_icons.png") 0 -344px no-repeat;}

/* Content_main */

/* Navigation Main Stream */
#main_nav_outer{background: transparent url("/img/sprites/sprite_repeat_x.png") 0 0 repeat-x;}
#main_nav_inner1{background: transparent url("/img/sprites/sprite_navigation.png") 0 -480px no-repeat;}
.whats_hot_active #main_nav_inner1{background: transparent url("/img/sprites/sprite_navigation.png") 0 -420px no-repeat;}
#main_nav_inner2{background: #6a6b6a url("/img/sprites/sprite_repeat_x.png") 0 -90px repeat-x;}
.whats_hot_active #main_nav_inner2{background: #6a6b6a url("/img/sprites/sprite_repeat_x.png") 0 -45px repeat-x;}
#main_nav_inner3{background: transparent url("/img/sprites/sprite_navigation.png") 0 -300px no-repeat;}
.whats_hot_active #main_nav_inner3{background: transparent url("/img/sprites/sprite_navigation.png") 0 -240px no-repeat;}
.whats_not_active #main_nav_inner3{background: transparent url("/img/sprites/sprite_navigation.png") 0 -360px no-repeat;}
#main_nav_inner4{background: #acacac url("/img/sprites/sprite_repeat_x.png") 0 -90px repeat-x;}
.whats_not_active #main_nav_inner4{background: #6a6b6a url("/img/sprites/sprite_repeat_x.png") 0 -45px repeat-x;}
#main_nav_inner5{background: transparent url("/img/sprites/sprite_navigation.png") 0 -120px no-repeat;}
.whats_not_active #main_nav_inner5{background: transparent url("/img/sprites/sprite_navigation.png") 0 -180px no-repeat;}
#main_nav_inner6{background: transparent url("/img/sprites/sprite_navigation.png") 0 0 no-repeat;}
.whats_not_active #main_nav_inner6, .whats_hot_active #main_nav_inner6{background: transparent url("/img/sprites/sprite_navigation.png") 0 -60px no-repeat;}
#main_nav_inner7{background: #fff url("/img/sprites/sprite_repeat_x.png") 0 -135px repeat-x;}
.whats_not_active #main_nav_inner7, .whats_hot_active #main_nav_inner7{background: #6a6b6a url("/img/sprites/sprite_repeat_x.png") 0 -90px repeat-x;}
#main_nav_inner8{background: transparent url("/img/sprites/sprite_navigation.png") 0 -540px no-repeat;}
.whats_not_active #main_nav_inner8, .whats_hot_active #main_nav_inner8{background: transparent url("/img/sprites/sprite_navigation.png") 0 -600px no-repeat;}

/* Stream Item Background */
.green_arrow{background: #fff url("/img/sprites/sprite_repeat_y.png") 0 0 repeat-y;}
.green_top_left{background: #fff url("/img/sprites/sprite_stream.png") 0 -149px no-repeat;}
.green_top_middle{background: #fff url("/img/sprites/sprite_repeat_x.png") 0 -315px repeat-x;}
.green_middle_middle{background-color: transparent;}
.green_bottom_left{background: #fff url("/img/sprites/sprite_stream.png") 0 -51px no-repeat;}
.green_bottom_middle{background: #fff url("/img/sprites/sprite_repeat_x.png") 0 -349px repeat-x;}
.item_active .green_arrow{background: #ecf6e9 url("/img/sprites/sprite_repeat_y.png") repeat-y;}
.item_active .green_top_left{background: #ecf6e9 url("/img/sprites/sprite_stream.png") 0 -207px no-repeat;}
.item_active .green_bottom_left{background: #ecf6e9 url("/img/sprites/sprite_stream.png") 0 -84px no-repeat;}

.user_like{border: 1px #68bc4f solid;background: transparent url("/img/sprites/sprite_general.png") 0 -138px no-repeat;}
.user_dislike{border: 1px #68bc4f solid;background: transparent url("/img/sprites/sprite_general.png") 0 -175px no-repeat;}

li.item_active{background: #ecf6e9 url("/img/global/item_active_bg.png") right bottom no-repeat;}
#stream_left_bottom li.item_active .so_comment{background-color: #fff;}
.new_stream li.item_active, .new_stream li:hover, .hot_stream li:hover, .not_stream li:hover{border-color: #D7D7D7 #68BC4F #68BC4F #D7D7D7;}
#new_shares #main_stream_pager:hover{
  border: none;
}
.whats_hot_stream_item{border: 2px solid #e6e3e3;border-right: 2px solid #d7d7d7;border-bottom: 2px solid #d7d7d7;background: transparent url("/img/sprites/sprite_repeat_y.png") -4049px 0 repeat-y;}
li.item_active .whats_hot_stream_item, 
.hot_stream li:hover .whats_hot_stream_item, 
.not_stream li:hover .whats_hot_stream_item{
  border: 2px solid #d7d7d7;
  border-right: 2px solid #68bc4f;
  border-bottom: 2px solid #68bc4f;
}
.whats_hot_stream_icon{background-color: #c4e3bb}

.pager_load_more{background: transparent url("/img/sprites/sprite_general.png") no-repeat scroll 90px -126px;}

.user_hover_area_top{border-top: 1px #d7d7d7 solid;border-right: 1px #d7d7d7 solid;border-left: 1px #d7d7d7 solid;background: #f5f5f5 url('/img/sprites/sprite_repeat_y.png') -2036px 0 repeat-y;}
.user_hover_area_bottom{background: transparent url('/img/sprites/sprite_stream.png') 0 0 no-repeat;}

/* Stream Icons */
.stream_icon_location{background: transparent url("/img/sprites/sprite_stream_icons.png") 0 -150px no-repeat;}

/* Content_supp */
#search1{background-color: #fff;}
#search2{background: #fff url("/img/sprites/sprite_general.png") 0 -72px no-repeat;}
#search3{background: #68b94f url("/img/sprites/sprite_general.png") 20px -226px no-repeat;}

#stream_right_top p{border-color: #cdcdcd;}
  /* Navigation Right */
  #nav_shares_outer{background: transparent url("/img/sprites/sprite_repeat_x.png") 0 -180px repeat-x;}
	#nav_shares_inner1{background: #fff url("/img/sprites/sprite_navigation.png") 0 -1020px no-repeat;}
  .thumb_up_active #nav_shares_inner1, .thumb_down_active #nav_shares_inner1{background: #fff url("/img/sprites/sprite_navigation.png") 0 -960px no-repeat;}
	#nav_shares_inner2{background: #fff url("/img/sprites/sprite_repeat_x.png") 0 -225px repeat-x;}
  .thumb_up_active #nav_shares_inner2, .thumb_down_active #nav_shares_inner2{background: #fff url("/img/sprites/sprite_repeat_x.png") 0 -270px repeat-x;}
	#nav_shares_inner3{background: transparent url("/img/sprites/sprite_navigation.png") 0 -660px no-repeat;}
	.thumb_up_active #nav_shares_inner3{background: transparent url("/img/sprites/sprite_navigation.png") 0 -840px no-repeat;}
	.thumb_down_active #nav_shares_inner3{background: transparent url("/img/sprites/sprite_navigation.png") 0 -720px no-repeat;}
	#nav_shares_inner4{background: #acacac url("/img/sprites/sprite_repeat_x.png") 0 -270px repeat-x;}
  .thumb_up_active #nav_shares_inner4{background: #acacac url("/img/sprites/sprite_repeat_x.png") 0 -225px repeat-x;}
	#nav_shares_inner5{background: transparent url("/img/sprites/sprite_navigation.png") 0 -720px no-repeat;}
	.thumb_up_active #nav_shares_inner5{background: transparent url("/img/sprites/sprite_navigation.png") 0 -660px no-repeat;}
  .thumb_down_active #nav_shares_inner5{background: transparent url("/img/sprites/sprite_navigation.png") 0 -840px no-repeat;}
	#nav_shares_inner6{background: #6a6b6a url("/img/sprites/sprite_repeat_x.png") 0 -270px repeat-x;}
  .thumb_down_active #nav_shares_inner6{background: #acacac url("/img/sprites/sprite_repeat_x.png") 0 -225px repeat-x;}
	#nav_shares_inner7{background: transparent url("/img/sprites/sprite_navigation.png") 0 -780px no-repeat;}
  .thumb_down_active #nav_shares_inner7{background: transparent url("/img/sprites/sprite_navigation.png") 0 -900px no-repeat;}
	
#stream_right_bottom{background-color: #ecf6e9;}
.thumb_up_down{background: transparent url("/img/sprites/sprite_icons.png") 18px -642px no-repeat;}
.thumb_all_active .thumb_up_down{background: transparent url("/img/sprites/sprite_icons.png") 18px 6px no-repeat;}
.thumb_up{background: transparent url("/img/sprites/sprite_icons.png") 11px -569px no-repeat;}
.thumb_up_active .thumb_up{background: transparent url("/img/sprites/sprite_icons.png") 11px -31px no-repeat;}
#detail-stream .thumb_up, .so_headline_right  .thumb_up{background: transparent url("/img/sprites/sprite_icons.png") 0 -36px no-repeat;}
.thumb_down{background: transparent url("/img/sprites/sprite_icons.png") 11px -608px no-repeat;}
.thumb_down_active .thumb_down{background: transparent url("/img/sprites/sprite_icons.png") 11px -69px no-repeat;}
#detail-stream .thumb_down, .so_headline_right  .thumb_down{background: transparent url("/img/sprites/sprite_icons.png") 0 -72px no-repeat;}

    
/* Footer */
#footer{border-top: 5px solid #6A6B6A;background-color: #68b94f;}
.single_box_with_shadow{
  border: 1px #ccc solid;background-color: #fff;
}

/* Signin */
.description_wave{background: transparent url("/img/sprites/sprite_signin.png") -12% -604px no-repeat;}
.image_button_full_long_en{background: transparent url("/img/sprites/sprite_signin.png") 0 -235px no-repeat;}
#yiid_description2{background: transparent url("/img/sprites/sprite_signin.png") 0 -370px no-repeat;}
#yiid_description3{background: transparent url("/img/sprites/sprite_signin.png") 0 0 no-repeat;}
.icon_big_facebook{background: transparent url("/img/sprites/sprite_landing.png") 47% -210px no-repeat;}
.icon_big_twitter{background: transparent url("/img/sprites/sprite_landing.png") 50% -298px no-repeat;}
.icon_big_google{background: transparent url("/img/sprites/sprite_landing.png") 47% -385px no-repeat;}
.icon_big_facebook_add_service{background: transparent url("/img/sprites/sprite_landing.png") 47% -210px no-repeat;}
.icon_big_twitter_add_service{background: transparent url("/img/sprites/sprite_landing.png") 50% -298px no-repeat;}
.icon_big_google_add_service{background: transparent url("/img/sprites/sprite_landing.png") 47% -385px no-repeat;}


/**
 * @section Color
 * @subsection BackgroundColor
 */
.bg_light{background-color: #fff;}

.bd_normal_light{border: 1px #ccc solid;}

#error-msg-box{
  top: 0; 
  width: 98%; 
  height: auto; 
  padding: 20px 0px 20px 0px; 
  color: #ffffff; 
  font-weight: bold; 
  font-size: 15px; 
  z-index: 500000; 
  position: fixed;  
  background-color: #FF08D6;
	background: -moz-linear-gradient(100% 100% 90deg, #FF08D6, #FFC2F7);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFC2F7), to(#FF08D6));
	border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;  
}
#error-msg-box ul{ 
  margin: 0 auto; 
}