@CHARSET "UTF-8";

/* Site-wide properties ======================================================== */
/*body{font: normal normal 12px/12px Tahoma, Arial, Helvetica, Verdana, sans-serif; }*/
body{font: normal normal 0.85em/1em 'lucida grande', tahoma, verdana, arial, sans-serif;}
    
/**
 *   @section -Headings
 *   @subsection -Fibonacci based heading scale ratio
 */
h1{ font-size: 4.4em; font-weight: normal; }
h2{ font-size: 2.8em; font-weight: bold; }
h3{ font-size: 1.6em; font-weight: bold; }
h4{ font-size: 1.2em; font-weight: bold; }
h5{ font-size: 1em; font-weight: bold; }

/**
 *   @section -FontSize
 */
.url, .like-dislike, .user_filter, .icon_service, .pager_load_more, .user_share, .search_field_area input, .filter_counter_area, #reset_filter_friends a{font-size: 0.8em;}
.so_comment, #so_right_view p, p.filter_headline{font-size: 0.9em;}
.btn, .text_action, #so_information h5 a{font-size: 11px;}
#stream_left_top p, #search input{font-size: 13px;}
#nav_main, #so_information h3{font-size: 14px;}
#what_is_yiid_description p{font-size: 16px;}
#footer_content_area h1{
  font-size: 2.8em
}

/**
 *   @section -FontWeight
 */
.user_name, 
.text_important, 
.whats_hot_active #main_nav_inner2 p, 
.whats_not_active #main_nav_inner4 p, 
.whats_new_active #main_nav_inner7 p, 
li.filter_chosen a, 
.filter_headline_active a, 
a.friend_filter_link_active{
  font-weight: bold;
}

/**
 *   @section -FontStyle
 */
/*.url{font-style: italic;}*/


/**
 *   @section -TextDecoration
 */
a:hover, 
.btn:hover, 
.whats_new_active #main_nav_inner2 p:hover, 
.whats_not_active #main_nav_inner2 p:hover, 
.whats_new_active #main_nav_inner4 p:hover, 
.whats_hot_active #main_nav_inner4 p:hover, 
.whats_hot_active #main_nav_inner7 p:hover, 
.whats_not_active #main_nav_inner7 p:hover,
.whats_hot_info_area .url, 
.whats_not_info_area .url,
#so_information .url, 
li.filter_chosen a, 
#footer ul li:first-child{
  text-decoration: underline;
}
a, a.icon_thumb, a.icon_thumbs, a.icon_thumb, a.icon_small_use, .icon_language_select:hover{text-decoration: none;}

/**
 *   @section -TextAlignment
 */
#all_networks_list li, #friends_search_results li, #friends_active_list li, #friends_all_list li, .user_hover_area_top, user_hover_area_bottom, #signin_via_username_form label, .two_block_area li, .two_block_area h5, #magic_after_registration .right_block{text-align: left;}
.center_area{text-align: center;}
.actions, #nav_main_supp{text-align: right;}

.filter_counter_area,
#footer_content_area {
  text-align: left;
}

/**
 *   @section -LineHeight
 */
.two_block_area li{line-height: 13px;}
#so_right_view p, #stream_left_empty p{
  line-height: 1.3em;
}
#so_right_view h3, h4,
.whats_hot_info_area p.text_important{
  line-height: 1.4em;
}
.sharing_user_info p, 
#signin_area p, 
.so_comment, 
#footer_content_area h1{
  line-height: 1.5em;
}
.so_headline_left, .so_headline_right{line-height: 18px;}
#stream_right_top div, #what_is_yiid_description p{line-height: 19px;}
#signin_via_username_form label{line-height: 25px;}
#nav_main li a, #stream_left_top div, #stream_left_empty #stream_left_top p, #stream_right_top div, #signin_area h3, h3{line-height: 30px;}
h2{line-height: 40px;}
.sharing_user_link, 
h1{
  line-height: 50px;
}
.right_block li{line-height: 60px;}

/**
 *   @section -LetterSpacing
 */
/*.url, .like-dislike{letter-spacing: -0.3px;}*/

/**
 *   @section -Cursor
 */
#search2, 
#main_nav_inner1, #main_nav_inner2 p, #main_nav_inner3, #main_nav_inner4 p, #main_nav_inner5, #main_nav_inner6, #main_nav_inner7 p, #main_nav_inner8, 
#nav_shares_inner1, #nav_shares_inner2, #nav_shares_inner3, #nav_shares_inner4, #nav_shares_inner5, #nav_shares_inner6, #nav_shares_inner7, 
.btn, 
.sharing_friend{
  cursor: pointer;
}

li.filter_chosen a,
.stream_item,
h1, h2, h3, h4, h5, p,
.filter_chosen_icon{
  cursor: default;
}

.icon_small_service_right{
  cursor: help;
}

.whats_hot_info_area .url, 
.whats_not_info_area .url,
.new_stream .url{
  cursor: pointer;
}
