@CHARSET "UTF-8";

/*#container{border: 8px #D7D7D7 solid;}*/

a{color: #4EA734;}
p, a.text_action, h3, h2{color: #6a6b6a;}
.url, a.url, span.url, .like-dislike{color: #bebebe;}


/* Header */
#header{background: transparent url("/img/sprites/sprite_general.png") 50px 10px no-repeat;border-bottom: 5px #6A6B6A solid;}
  #nav_home{background: transparent url("/img/sprites/sprite_icons.png") 0 -151px no-repeat;}
  #nav_profile{background: transparent url("/img/sprites/sprite_icons.png") 0 -111px no-repeat;}
  #nav_settings{background: transparent url("/img/sprites/sprite_icons.png") 0 -190px no-repeat;}

/* Content */
#content{background: transparent url("/img/sprites/sprite_repeat_x.png") 0 -367px repeat-x;}

/* Content_sub */
.filter_headline{background-color: #ebebeb;color: #4EA734;}
.btn{background: #F2F2F2 url("/img/sprites/sprite_general.png") no-repeat 125px -264px;color: #6a6b6a;}
.icon_facebook{background: transparent url("/img/sprites/sprite_icons.png") 8px -374px no-repeat;}
.icon_twitter{background: transparent url("/img/sprites/sprite_icons.png") 8px -409px no-repeat;}
.icon_google{background: transparent url("/img/sprites/sprite_icons.png") 8px -444px no-repeat;}
#container label{color: #6A6B6A;}
.icon_small_facebook{background: transparent url("/img/sprites/sprite_icons.png") 0 -480px no-repeat;}
.icon_small_twitter{background: transparent url("/img/sprites/sprite_icons.png") 0 -511px no-repeat;}
.icon_small_google{background: transparent url("/img/sprites/sprite_icons.png") 0 -542px no-repeat;}

.filter_chosen{background-color: #ecf6e9;}
li.filter_chosen a{color: #6a6b6a;}


.icon_like{background: transparent url("/img/sprites/sprite_icons.png") 0 -228px no-repeat;}
.icon_dislike{background: transparent url("/img/sprites/sprite_icons.png") 0 -254px no-repeat;}
.icon_comment{background: transparent url("/img/sprites/sprite_icons.png") 0 -280px no-repeat;}
.icon_favorite{background: transparent url("/img/sprites/sprite_icons.png") 0 -314px no-repeat;}
.icon_hide{background: transparent url("/img/sprites/sprite_icons.png") 0 -344px no-repeat;}

/* Content_main */
#stream_left_top p{color: #fff;}
/* Navigation Main Stream */
.whats_hot_active #main_nav_inner2 p, .whats_not_active #main_nav_inner4 p, .whats_new_active #main_nav_inner7 p{color: #4EA734;}
#main_nav_outer{background: transparent url("/img/sprites/sprite_repeat_x.png") 0 0 repeat-x;}
#main_nav_inner1{background: transparent url("/img/sprites/sprite_navigation.png") 0 -480px no-repeat;}
.whats_hot_active #main_nav_inner1{background: transparent url("/img/sprites/sprite_navigation.png") 0 -420px no-repeat;}
#main_nav_inner2{background: #6a6b6a url("/img/sprites/sprite_repeat_x.png") 0 -90px repeat-x;}
.whats_hot_active #main_nav_inner2{background: #6a6b6a url("/img/sprites/sprite_repeat_x.png") 0 -45px repeat-x;}
#main_nav_inner3{background: transparent url("/img/sprites/sprite_navigation.png") 0 -300px no-repeat;}
.whats_hot_active #main_nav_inner3{background: transparent url("/img/sprites/sprite_navigation.png") 0 -240px no-repeat;}
.whats_not_active #main_nav_inner3{background: transparent url("/img/sprites/sprite_navigation.png") 0 -360px no-repeat;}
#main_nav_inner4{background: #acacac url("/img/sprites/sprite_repeat_x.png") 0 -90px repeat-x;}
.whats_not_active #main_nav_inner4{background: #6a6b6a url("/img/sprites/sprite_repeat_x.png") 0 -45px repeat-x;}
#main_nav_inner5{background: transparent url("/img/sprites/sprite_navigation.png") 0 -120px no-repeat;}
.whats_not_active #main_nav_inner5{background: transparent url("/img/sprites/sprite_navigation.png") 0 -180px no-repeat;}
#main_nav_inner6{background: transparent url("/img/sprites/sprite_navigation.png") 0 0 no-repeat;}
.whats_not_active #main_nav_inner6, .whats_hot_active #main_nav_inner6{background: transparent url("/img/sprites/sprite_navigation.png") 0 -60px no-repeat;}
#main_nav_inner7{background: #fff url("/img/sprites/sprite_repeat_x.png") 0 -135px repeat-x;}
.whats_not_active #main_nav_inner7, .whats_hot_active #main_nav_inner7{background: #6a6b6a url("/img/sprites/sprite_repeat_x.png") 0 -90px repeat-x;}
#main_nav_inner8{background: transparent url("/img/sprites/sprite_navigation.png") 0 -540px no-repeat;}
.whats_not_active #main_nav_inner8, .whats_hot_active #main_nav_inner8{background: transparent url("/img/sprites/sprite_navigation.png") 0 -600px no-repeat;}

.item_active{border: 1px solid #d7d7d7;border-right: 2px solid #68bc4f;border-bottom: 2px solid #68bc4f;background: #ecf6e9 url("/img/global/item_active_bg.png") right bottom no-repeat}

/* Stream Item Background */
.green_arrow{background: #fff url("/img/sprites/sprite_repeat_y.png") 0 0 repeat-y;}
.green_top_left{background: #fff url("/img/sprites/sprite_stream.png") 0 -149px no-repeat;}
.green_top_middle{background: #fff url("/img/sprites/sprite_repeat_x.png") 0 -315px repeat-x;}
.green_middle_middle{background-color: transparent;}
.green_bottom_left{background: #fff url("/img/sprites/sprite_stream.png") 0 -51px no-repeat;}
.green_bottom_middle{background: #fff url("/img/sprites/sprite_repeat_x.png") 0 -349px repeat-x;}
.item_active .green_arrow{background: #ecf6e9 url("/img/sprites/sprite_repeat_y.png") repeat-y;}
.item_active .green_top_left{background: #fff url("/img/sprites/sprite_stream.png") 0 -207px no-repeat;}
.item_active .green_bottom_left{background: #fff url("/img/sprites/sprite_stream.png") 0 -84px no-repeat;}

.actions{background-color: #f5f5f5;}
.user_like{border: 1px #68bc4f solid;background: transparent url("/img/sprites/sprite_general.png") 0 -138px no-repeat;}
.user_dislike{border: 1px #68bc4f solid;background: transparent url("/img/sprites/sprite_general.png") 0 -175px no-repeat;}

.whats_hot_stream_item{border: 1px #d7d7d7 solid;background: transparent url("/img/sprites/sprite_repeat_y.png") -4049px 0 repeat-y;}
.whats_hot_stream_icon{background-color: #c4e3bb}

.pager_load_more{background: transparent url("/img/sprites/sprite_general.png") no-repeat scroll 75px -116px;}

.user_hover_area_top{border-top: 1px #d7d7d7 solid;border-right: 1px #d7d7d7 solid;border-left: 1px #d7d7d7 solid;background: #f5f5f5 url('/img/sprites/sprite_repeat_y.png') -2036px 0 repeat-y;}
.user_hover_area_bottom{background: transparent url('/img/sprites/sprite_stream.png') 0 0 no-repeat;}

/* Stream Icons */
.stream_icon_location{background: transparent url("/img/sprites/sprite_stream_icons.png") 0 -150px no-repeat;}

/* Content_supp */
#search1{background-color: #fff;color: #4EA734}
#search2{background: #fff url("/img/sprites/sprite_general.png") 0 -72px no-repeat;}
#search3{background: #68b94f url("/img/sprites/sprite_general.png") 20px -226px no-repeat;}

#stream_right_top p{color: #fff;border-color: #cdcdcd;}
  /* Navigation Right */
  #nav_shares_outer{background: transparent url("/img/sprites/sprite_repeat_x.png") 0 -180px repeat-x;}
	#nav_shares_inner1{background: #fff url("/img/sprites/sprite_navigation.png") 0 -1020px no-repeat;}
  .thumb_up_active #nav_shares_inner1, .thumb_down_active #nav_shares_inner1{background: #fff url("/img/sprites/sprite_navigation.png") 0 -960px no-repeat;}
	#nav_shares_inner2{background: #fff url("/img/sprites/sprite_repeat_x.png") 0 -225px repeat-x;}
  .thumb_up_active #nav_shares_inner2, .thumb_down_active #nav_shares_inner2{background: #fff url("/img/sprites/sprite_repeat_x.png") 0 -270px repeat-x;}
	#nav_shares_inner3{background: transparent url("/img/sprites/sprite_navigation.png") 0 -660px no-repeat;}
	.thumb_up_active #nav_shares_inner3{background: transparent url("/img/sprites/sprite_navigation.png") 0 -840px no-repeat;}
	.thumb_down_active #nav_shares_inner3{background: transparent url("/img/sprites/sprite_navigation.png") 0 -720px no-repeat;}
	#nav_shares_inner4{background: #acacac url("/img/sprites/sprite_repeat_x.png") 0 -270px repeat-x;}
  .thumb_up_active #nav_shares_inner4{background: #acacac url("/img/sprites/sprite_repeat_x.png") 0 -225px repeat-x;}
	#nav_shares_inner5{background: transparent url("/img/sprites/sprite_navigation.png") 0 -720px no-repeat;}
	.thumb_up_active #nav_shares_inner5{background: transparent url("/img/sprites/sprite_navigation.png") 0 -660px no-repeat;}
  .thumb_down_active #nav_shares_inner5{background: transparent url("/img/sprites/sprite_navigation.png") 0 -840px no-repeat;}
	#nav_shares_inner6{background: #6a6b6a url("/img/sprites/sprite_repeat_x.png") 0 -270px repeat-x;}
  .thumb_down_active #nav_shares_inner6{background: #acacac url("/img/sprites/sprite_repeat_x.png") 0 -225px repeat-x;}
	#nav_shares_inner7{background: transparent url("/img/sprites/sprite_navigation.png") 0 -780px no-repeat;}
  .thumb_down_active #nav_shares_inner7{background: transparent url("/img/sprites/sprite_navigation.png") 0 -900px no-repeat;}
	
#stream_right_bottom{background-color: #ecf6e9;}
.thumb_up_down{background: transparent url("/img/sprites/sprite_icons.png") 10px 4px no-repeat;}
.thumb_up{background: transparent url("/img/sprites/sprite_icons.png") 9px -33px no-repeat;}
.thumb_down{background: transparent url("/img/sprites/sprite_icons.png") 9px -70px no-repeat;}

    
/* Footer */
#footer{border-top: 5px solid #6A6B6A;background-color: #68b94f;color: #fff;}

/* Signin */
.description_wave{background: transparent url("/img/sprites/sprite_signin.png") -12% -604px no-repeat;}
#yiid_description1{background: transparent url("/img/sprites/sprite_signin.png") 0 -235px no-repeat;}
#yiid_description2{background: transparent url("/img/sprites/sprite_signin.png") 0 -370px no-repeat;}
#yiid_description3{background: transparent url("/img/sprites/sprite_signin.png") 0 0 no-repeat;}
#signin_area{border: 1px #ccc solid;background-color: #fff;}
.icon_big_facebook{background: transparent url("/img/sprites/sprite_popup.png") 47% -210px no-repeat;}
.icon_big_twitter{background: transparent url("/img/sprites/sprite_popup.png") 50% -298px no-repeat;}
.icon_big_google{background: transparent url("/img/sprites/sprite_popup.png") 47% -385px no-repeat;}


/**
 * @section Color
 * @subsection BackgroundColor
 */
.bg_light{background-color: #fff;}

.bd_normal_light{border: 1px #ccc solid;}





/**
 * @section Configurator
 * @subsection color
 */
body{background-color: #fff;color:#868686;}
/*a, a:link, a:hover{color:#868686;}*/
a, a:link, a:hover{color:#69BC50;}
#nav_wave_right a{color:#868686;}
#likebutton-form-table input, #likebutton-form-table select{color:#868686;}
#branding{background: url("/img/sprites/sprite_configurator.png") 0 0 no-repeat;}
#nav_wave_left{background: url("/img/sprites/sprite_configurator.png") 0 -107px repeat-x;}
#nav_wave_middle{background: url("/img/sprites/sprite_configurator.png") 0 -192px no-repeat;}
#nav_main ul{background-color: #ebebeb;border-top:2px solid #e0e0e0;border-bottom:2px solid #e0e0e0;}
#nav_supp{background-color: #69bc50;}
#nav_supp a{background: transparent url("/img/sprites/sprite_configurator.png") 0 -273px no-repeat;}
#nav_supp_first{background: none !important;}
#content_top, #testimonial{background-color: #ffffff;border:1px solid #d3d3d3;border-radius: 0.3em;-moz-border-radius: 0.3em;-webkit-border-radius: 0.3em;}
a.color_light, p.color_light, div.color_light, ul.color_light, .button_inner:hover, #nav_supp a, #content h1, #button-likebutton{color:#fff;}
.content_list{background-color: #fafafa;border-left: 1px solid #eeeeee;border-right: 1px solid #eeeeee;border-bottom: 1px solid #eeeeee;border-radius: 0 0 0.3em 0.3em;-moz-border-radius:0 0 0.3em 0.3em;-webkit-border-radius:0 0 0.3em 0.3em;}
#content li{list-style-image: url("/img/configurator/item_active_bg.png");}
#yiid_slogan{background: transparent url("/img/sprites/sprite_configurator.png") 382px -1512px no-repeat;}
#button_desc{background-color: #ebebeb;border: 1px solid #dedede;}
#conf_content{background-color: #e6e6e6;border:1px solid #d3d3d3;border-top:none;border-radius: 0 0 0.3em 0.3em;-moz-border-radius: 0 0 0.3em 0.3em;-webkit-border-radius: 0 0 0.3em 0.3em;}

.light_border_bottom_side{border:1px solid #d3d3d3;border-top:none;border-radius: 0 0 0.3em 0.3em;-moz-border-radius: 0 0 0.3em 0.3em;-webkit-border-radius: 0 0 0.3em 0.3em;}
.light_border_right_side{border:1px solid #d6d6d6;border-left:none;border-radius: 0 0.3em 0.3em 0;-moz-border-radius: 0 0.3em 0.3em 0;-webkit-border-radius: 0 0.3em 0.3em 0;}

.medium_light_bg{background-color: #f2f2f2;}
.dark_bg{background-color: #e6e6e6;}

.button_outer{background-color: #ffffff;border:1px solid #cdcdcd;border-radius: 0.3em;-moz-border-radius: 0.3em;-webkit-border-radius: 0.3em;}
.button_inner{background-color: #68bc4f;border:1px solid #68bc4f;border-radius: 0.3em;-moz-border-radius: 0.3em;-webkit-border-radius: 0.3em;}

#button_get_code_outer{background-color: #ffffff;border:1px solid #cdcdcd;border-radius: 0.3em;-moz-border-radius: 0.3em;-webkit-border-radius: 0.3em;}
#button-likebutton{background-color: #68bc4f;border:1px solid #68bc4f;border-radius: 0.3em;-moz-border-radius: 0.3em;-webkit-border-radius: 0.3em;}
#conf_content_supp{background-color: #f2f2f2;border:1px solid #d6d6d6;border-left:none;border-radius: 0 0.3em 0.3em 0;-moz-border-radius: 0 0.3em 0.3em 0;-webkit-border-radius: 0 0.3em 0.3em 0;}
#preview{background-color: #ffffff;border: 1px solid #e0e0e0;}
#likebutton-form-table{border-top:1px solid #e9e9e9;}
#likebutton-form-table td{border-top:1px solid #e9e9e9;}
#likebutton-form-table input, #likebutton-form-table select{background-color: #ffffff;border:1px solid #d6d6d6;}

.green_head{background: transparent url("/img/sprites/sprite_configurator.png") 0 -696px repeat-x;border-radius: 0.3em 0.3em 0 0;-moz-border-radius: 0.3em 0.3em 0 0;-webkit-border-radius: 0.3em 0.3em 0 0;}
.green_head_part1{background: transparent url("/img/sprites/sprite_configurator.png") 0 -456px no-repeat;}
.green_head_part2{background: transparent url("/img/sprites/sprite_configurator.png") 0 -543px repeat-x;}
.green_head_part3{background: transparent url("/img/sprites/sprite_configurator.png") 0 -630px no-repeat;}
.green_head_part4{background: transparent url("/img/sprites/sprite_configurator.png") 0 -783px no-repeat;}

.grey_head{background: transparent url("/img/sprites/sprite_configurator.png") 0 -1110px repeat-x;border-radius: 0.3em 0.3em 0 0;-moz-border-radius: 0.3em 0.3em 0 0;-webkit-border-radius: 0.3em 0.3em 0 0;}
.grey_head_part1{background: transparent url("/img/sprites/sprite_configurator.png") 0 -870px no-repeat;}
.grey_head_part2{background: transparent url("/img/sprites/sprite_configurator.png") 0 -950px repeat-x;}
.grey_head_part3{background: transparent url("/img/sprites/sprite_configurator.png") 0 -1030px no-repeat;}
.grey_head_part4{background: transparent url("/img/sprites/sprite_configurator.png") 0 -1190px no-repeat;}

#facebook_logo{background: transparent url("/img/sprites/sprite_configurator.png") 0 -1280px no-repeat;}
#twitter_logo{background: transparent url("/img/sprites/sprite_configurator.png") 0 -1362px no-repeat;}
#buzz_logo{background: transparent url("/img/sprites/sprite_configurator.png") 0 -1436px no-repeat;}

