/* =Bug
--------------------------------------------------------------------------------------------------------*/
*+html .checkbox{ top:-2px;}
*+html .checkbox, *+html .ch-size li .radio-btn input{  width:13px; height:13px; }

/*New popup css start on 01FEB2010*/
*+html .azchecklist li a span{ bottom:-2px;  bottom:2px \0/; }
.azchecklist li a span{ _bottom:-2px; }
.popwidecol{ _width:356px; }


.ekrenne{   _padding-top:2px;}
.gefalt{ _margin-right:-4px; }
.popupblock{ _width:540px; _padding: 0 20px 0 18px;}

#topnavigation li a{  _background:url(../img/ipblack-bg.gif) -3px 150px no-repeat;  }
#topnavigation li a:hover, #topnavigation a.active { _background:url(../img/ipblack-bg.gif) -3px 0px no-repeat; } 
#topnavigation li a span{ _background:url(../img/submit-bg.gif) right 250px no-repeat; }
#topnavigation li a:hover span, #topnavigation a.active span{ _background:url(../img/submit-bg.gif) right 0px no-repeat; }

#paging-sel .jgd-dropdown dd ul a{_height:16px; }

*+html .btnformlist li { padding-bottom:1px;}


.resetblock a:hover span, .resetblock a.active span{ _background:url(../img/saver-hov.gif) right 0px no-repeat !important; }

/* End Forms
--------------------------------------------------------------------------------------------------------*/



.stylestatus_box .ch-size li .radio-btn {_top:0px;}
*:first-child+html .stylestatus_box .ch-size li .radio-btn {top:0px;} 

.spreadsel_box .checklist input {margin:-2px 4px 3px -3px; position:relative;}

.grboxbot span{ font-size:0px; line-height:0px;  background:url(../img/botcorrb.png) right 0px no-repeat;}
#footer { background:url(../img/footer-shed.png) center top no-repeat;}

#service-img-other{ margin-left: 0px;  }
#service-img-email{ margin-left: 0px;}
