@CHARSET "UTF-8";

/**
  * @section -reset.css 
  */
a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, 
var{
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline; }
    

/* Getting the new tags to behave */
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }


/* Reusable classes ============================================================ */

/* Left & Right alignment */
.left{ float: left; }
.right{ float: right; }
.center_area{margin: 0 auto;}

/* The fraction classes are useful for column lists */
.half, .third, .quarter, .fifth, .sixth{ width: 100%; }
.half li, .third li, .quarter li, .fifth li, .sixth li{ float: left; }
.half li{ padding-right: 5%; width: 45% }
.third li{  padding-right: 5%; width: 28.3% }
.quarter li{  padding-right: 5%; width: 20% }
.fifth li{  padding-right: 5%; width: 15% }

/* For when a <br /> just ain't enough */
.separator{clear: both;float: left;height: 1px;width: 100%; }

/* Basic Structure ============================================================= */
#container{margin: 0 auto;width: 98%;min-width: 962px;padding-bottom:10px;}
.bd_round{-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.bd_diagonal{-webkit-border-radius: 4px 8px;-moz-border-radius: 4px 8px;border-radius: 4px 8px;}

/* Header */
#header{}
#header_sub{width: 250px;height:60px;}
#header_main{width: 37%;height:60px;}
#header_supp{width: 37%;height:60px;}
  #nav_main li{list-style-type: none;margin: 30px 40px 0 0;float:left;}
  #nav_main li a{padding: 4px 25px;}
  li#nav_main_settings{margin-right: 0;}
    
/* Content */
#content{padding: 25px 0;}

/* Content_sub */
#content_sub{/*width:25%;*/ width: 250px;}
#photo_filter_box{margin:0 15px 0 25px;width:200px;padding-bottom:10px;}
#photo_filter_box input[type=submit]{}
.filter_headline{margin-top: 5px;padding:5px 10px;border-left: none;}
#all_networks_list li{padding: 5px 0;}
#friends_active_list li{padding: 6px 0 3px 10px;}
.btn{border: 1px solid #CDCDCD;padding: 2px 30px 2px 20px;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.photo_big{width: 96px;height: 96px;border: 2px #d7d7d7 solid;}
#stream_photo{margin: 15px auto;}
.normal_list{list-style-type: none;margin: 10px 0 20px;}
.icon_service{padding: 4px 10px 4px 33px;}
.user_filter{padding: 4px 10px 4px 10px;}
.icon_thumb{padding: 5px 14px;}
.icon_thumbs{padding: 5px 24px;}
.icon_small_service{padding: 0px 7px;}
.icon_small_use{margin-left: 5px;}
.icon_small_use{padding: 3px 0 0 12px;}


/* Content_main */
#content_main{width:45%;}
	  #main_nav_inner1{width:4px;height:30px;}
	  #main_nav_inner2{height:30px;}
	  #main_nav_inner2 p{margin: 0 5px 0 15px;}
	  #main_nav_inner3{width:54px;height:30px;}
	  #main_nav_inner4{height:30px;}
	  #main_nav_inner4 p{margin: 0 5px;}
	  #main_nav_outer{width:100%;height:30px;}
	  #main_nav_inner5{width:56px;height:30px;}
    #main_nav_inner6{width:56px;height:30px;}
	  #main_nav_inner7{height:30px;}
	  #main_nav_inner7 p{margin: 0 15px 0 5px;}
	  #main_nav_inner8{width:4px;height:29px;}
	  
	  #stream_left_bottom{padding: 15px 0 5px;border-left:1px solid #ccc;border-bottom:2px solid #ccc;border-right:2px solid #ccc;
	  -webkit-border-radius: 0 0 4px 4px;-moz-border-radius: 0 0 4px 4px;border-radius: 0 0 4px 4px;}
		  .so_information_content{margin-left: 18px;padding: 0 15px;border-right: 1px #cbd3c9 solid;}
		  #new_shares li{list-style-type: none;padding: 10px 5px;margin: 0 8px;}
		    
		    .green_arrow{}
		    
		    .so_image{width: 10%;margin:15px 0 15px 10px;}
		    .so_information{width: 87%;}
		    
		    .green_top_left{width:18px;height:28px;}
		    .green_top_middle{width: 98%;border-right: 1px solid #cbd3c9;}
        .green_middle_left{width:18px;height: 100%;min-height:1px;}
        .green_middle_middle{width: 98%;border-right: 1px solid #cbd3c9;}
        .green_bottom_left{height:3px;width:18px}
        .green_bottom_middle{width: 98%;height:3px;border-right: 1px solid #cbd3c9;}
        
        #stream_left_bottom .so_comment{margin: 0px 10px 10px 30px;}

        .actions{margin-left: 18px;padding-bottom: 5px;}
        .sharing_friends{padding: 3px 15px;}
        .sharing_friend{width:32px;height:32px;margin-right: 5px;}
        .sharing_friend_outer{position:relative;z-index:200;top:0;left:0;width:30px;height:30px;}
        .sharing_friend_inner{z-index:100;position:relative;top:-31px;left:1px;width:30px;height:30px;}
        .action_content{padding: 12px 10px;}
        .action_content a{margin-left: 10px;}
        
        .info_area{}
        .so_headline_left{height: 18px;overflow: hidden;padding: 5px 0 5px 10px;}
        .so_headline_right{height: 18px;overflow: hidden;padding: 5px 8px 5px 0;}
        
        .whats_hot_stream_item{-webkit-border-radius: 3px 0 0 3px;-moz-border-radius: 3px 0 0 3px;border-radius: 3px 0 0 3px;}
        .whats_hot_stream_icon{padding: 8px 2px;}
        .stream_icon{padding:3px 9px;}
        
        .whats_hot_stream_head_left{width: 60%;}
        .preview_information{width: 100px;margin: 10px;}
        
        .whats_hot_info_area p{margin: 4px 10px;}
        
        .pager_load_more{padding: 5px 22px 5px 11px;}
        #main_stream_pager{margin: 10px 0 15px 15px;}
        .right_shares_pager{margin-top: 15px;}
        
        .user_hover_area{position: relative;top: -190px;left: -25px; z-index: 400;}
        .user_hover_area_top{width: 278px; height: 100px;padding: 5px 10px;-webkit-border-radius: 3px 3px 0 0;-moz-border-radius: 3px 3px 0 0;border-radius: 3px 3px 0 0;}
        .user_hover_area_bottom{width: 300px; height:24px;}
        .sharing_user_image{width: 50px;margin: 0 5px;}
        .sharing_user_info{width: 205px;padding: 0 5px;}
        .sharing_user_info h4{margin: 5px 5px;}
        .sharing_user_info p{margin-left: 5px;}
        .sharing_user_friends{height: 35px;margin-top: 5px;}
        .sharing_friends li{padding: 0 !important;margin: 0 5px !important;}
        .sharing_user_link{padding-left: 10px;}
        
	  

/* Content_supp */
#content_supp{width: 28%;}
  #search{margin:0 0 10px 25px;}
  #search1{width: 60%;padding:5px 10px;height: 14px;border: 1px solid #ccc;-webkit-border-radius: 4px 0 0 4px;-moz-border-radius: 4px 0 0 4px;border-radius: 4px 0 0 4px;border-right: none;}
  #search2{width: 33px;height: 26px;padding:4px 0;-webkit-border-radius: 0 4px 4px 0;-moz-border-radius: 0 4px 4px 0;border-radius: 0 4px 4px 0;border-left: none;}
  #search3{width: 27px;padding: 13px 5px;}
  
  #stream_right{width: 100%;border-left:none; position: relative; top:0;}
    #stream_right_top div{float:left;}
    #nav_shares_inner1{width:3px;height:30px;}
    #nav_shares_inner2{height:30px;}
    #nav_shares_inner3{width:50px;height:30px;}
    #nav_shares_inner4{height:30px;}
    #nav_shares_inner5{width:50px;height:30px;}
    #nav_shares_inner6{height:30px;}
    #nav_shares_inner7{width:50px;height:30px;}
    #nav_shares_outer{width:100%;height:30px;}
  #so_right_view{padding: 30px 20px 20px 20px;}
    #so_image{width:20%;}
    #so_information{width:75%;padding-left:10px;}
    #so_information h3, #so_information h5{margin-bottom:5px;}
    
  #stream_right_bottom{padding: 25px 30px;}
    .shares{list-style-type: none;}
    .shares li{margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px dashed #4EA734;}
    .so_share_image{width: 15%;}
    .so_share_information{width: 85%;}
    .so_share_small_information, .so_share_information, .url{padding-left: 0;}
    .text_action{padding-left: 17px;}
    #so_right_view .url{padding-left:0;}
    .so_comment{padding-top:5px;}
    #so_information{overflow: hidden;}
        
        
/* Footer */
#footer{float: left;width: 100%; }
    

/* Signin */
#signin_area, #what_is_yiid_description{width: 100%; margin: 0 auto;text-align: center;}
#signin_area{width: 60%;padding: 15px 20px 20px; -webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;margin-bottom: 30px;-webkit-box-shadow: 0 5px 5px -3px black;-moz-box-shadow: 0 5px 5px -3px black;box-shadow: 0 5px 5px -3px black;}
.description_with_image{width: 25%;}
.description_wave{width: 10%;height: 138px;margin:  100px 0 0 0;}
#yiid_description1{width: 139px;height: 84px;margin-top: 50px;}
#yiid_description2{width: 188px;height: 184px;}
#yiid_description3{width: 259px;height: 186px;}
.service_icons_big{width: 70%;margin: 30px auto 40px;}
.service_icons_big li{width: 33%;}
.service_icons_big a{padding: 65px 15px 0;}
.icon_big_link{padding: 60px 8px 2px;}
.icon_big{padding-top: 65px; display: block;}
h2{margin-bottom: 15px;}
#what_is_yiid_description p{height: 80px;}
#signin_via_username_form{margin: 20px 0;}
#signin_via_username_form div{width: 300px;}
#signin_via_username_form label{width: 80px;display: block;}
#signin_via_username_form input[type=submit]{margin-top: 10px;}
    
    
/**
 * Hacks
 */
/* The core of clearfix */
.clearfix:after {content: ".";display: block;clear: both;height: 0;visibility: hidden;}

/* IE-Patches for clearfix */
.clearfix {display: inline-block;}

/* Start: hide for IE5/Mac with commented backslash Hack \*/
* html .clearfix{height: 1px;}
.clearfix{display: block;}
/* End: hide for IE5/Mac with commented backslash Hack */ /* basics */