div.tag-cloud {
  margin: 0px;
  text-align: justify;
  vertical-align: middle;
  line-height: 1.1;
}

.hero-unit p.score {
  font-family: Georgia, serif;
  font-size: 80px;
  font-weight: lighter !important;
  line-height: 1.5;
}

ul.tags-list {
  display: inline;
  padding: 0;
  margin: 0;
}

ul.tags-list li {
  display: inline;
  white-space: pre-wrap;
  word-wrap: break-word;
}

[class^="icon-"], [class*=" icon-"] {
  background-image: none;
  background-position: none;
  background-repeat: no-repeat;
  display: inline;
  height: inherit;
  line-height: inherit;
  vertical-align: inherit;
  width: inherit;
}