@CHARSET "UTF-8";

/* Site-wide properties ======================================================== */
/*body{font: normal normal 12px/12px Tahoma, Arial, Helvetica, Verdana, sans-serif; }*/
body{font: normal normal 0.71em/1em Tahoma, Arial, Helvetica, Verdana, sans-serif; }
    
/* Fibonacci based heading scale ratio */
h1{ font-size: 4.4em; font-weight: normal; }
h2{ font-size: 2.8em; font-weight: bold; }
h3{ font-size: 1.6em; font-weight: bold; }
h4{ font-size: 1.2em; font-weight: bold; }

.url, .like-dislike{font-size: 9px;}
.btn, .text_action, #so_information h5 a{font-size: 11px;}
#stream_left_top p, #search input{font-size: 13px;}
#nav_main, #so_information h3{font-size: 14px;}

a:hover, .btn:hover, .whats_new_active #main_nav_inner2 p:hover, .whats_not_active #main_nav_inner2 p:hover, .whats_new_active #main_nav_inner4 p:hover, .whats_hot_active #main_nav_inner4 p:hover, 
	.whats_hot_active #main_nav_inner7 p:hover, .whats_not_active #main_nav_inner7 p:hover{text-decoration: underline;}
a, a.icon_thumb, li.filter_chosen a, a.icon_thumbs, a.icon_thumb, a.icon_small_use{text-decoration: none;}

.user_name, .text_important, .whats_hot_active #main_nav_inner2 p, .whats_not_active #main_nav_inner4 p, .whats_new #main_nav_inner7 p{font-weight: bold;}

.url{font-style: italic;}

.sharing_user_info p{line-height: 14px;}
.so_comment, #so_information h5 a{line-height: 16px;}
.so_headline_left, .so_headline_right{line-height: 18px;}
#stream_right_top div{line-height: 19px;}
#nav_main li a, #stream_left_top div, #stream_right_top div{line-height: 30px;}
.sharing_user_link{line-height: 50px;}

#all_networks_list li, #friends_active_list li, .user_hover_area_top, user_hover_area_bottom{text-align: left;}
/*.filter_headline{text-align: center;}*/
.actions{text-align: right;}

.url, .like-dislike{letter-spacing: -0.3px;}

#search2, #main_nav_inner1, #main_nav_inner2, #main_nav_inner3, #main_nav_inner4, #main_nav_inner5, #main_nav_inner6, #main_nav_inner7, #main_nav_inner8,
  #nav_shares_inner1, #nav_shares_inner2, #nav_shares_inner3, #nav_shares_inner4, #nav_shares_inner5, #nav_shares_inner6, #nav_shares_inner7, .btn, .sharing_friend{cursor: pointer;}
li.filter_chosen a{cursor: default;}