#general-ajax-loader{z-index: 1000000; position: absolute; display:none;}

ul#logos_big {  margin: 30px 0 40px 30px; }
#logos_big li{float:left;width:105px;text-align:center;margin-right:5px;padding-top: 60px;}
#logos_big li a{padding-top: 60px;}
#buzz_logo{padding-left:14px;padding-right:14px;}
#facebook_logo{padding-left:1px;padding-right:1px;}
#twitter_logo{padding-left:8px;padding-right:9px;}
#linkedin_logo{padding-left:8px;padding-right:8px;}

#google_logo{background: url("/img/sprites/sprite_popup.png") no-repeat 0 -575px;}
#facebook_logo{background: url("/img/sprites/sprite_popup.png") no-repeat 0 -785px;}
#twitter_logo{background: url("/img/sprites/sprite_popup.png") no-repeat 0 -1003px;}
#further_logos{background: url("/img/sprites/sprite_popup.png") no-repeat 0 -1269px;}
#linkedin_logo{background: url("/img/sprites/sprite_popup.png") no-repeat -453px -1195px;}

#signin-head{ line-height: 21px; text-align: center;}
#signin-head .signin-title{ font-size:21px; font-weight:normal; color:#000; padding-left:4px; padding-top: 20px;}
#signin-head .signin-title em{ font-size:12px; font-style: normal}

.slogantext{margin-left: 47px; margin-top: 30px;}
#coupon-head-summary{text-align: center; margin-left: 0; margin-top: 0;}

#coupon-unused-container{ margin: 0 auto; }
.dotborbox{text-align: center;}

/*
  root element for the scrollable.
  when scrolling occurs this element stays still.
*/
.scrollable {

  /* required settings */
    height: 75px;
    overflow: hidden;
    position: relative;
    width: 99px;
}

/*
  root element for scrollable items. Must be absolutely positioned
  and it should have a extremely large width to accommodate scrollable items.
  it's enough that you set width and height for the root element and
  not for this element.
*/
.scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}

/*
  a single item. must be floated in horizontal scrolling.
  typically, this element is the one that *you* will style
  the most.
*/
.scrollable .items div {
  float:left;
}


.scrollable-content{
  width: 100px;
  text-align: center;
}
.slide-back-link{
  background: transparent url("/img/global/24x24/back.png") no-repeat;
  width: 24px;
  height: 24px;
}

.slide-next-link{
  background: transparent url("/img/global/24x24/next.png") no-repeat;
  width: 24px;
  height: 24px;
}

.left{
  float: left;
}

#popup-send-like-button{
  width: 100px;
  height: 71px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url(/img/batman-submit.jpg) no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */

}

.figuresbox dd.figuresmid-box{
    width: 220px;
    margin-right: 16px;
}

.figuresbox dd.no-margin{
  margin: 0px;
}

.figuresbox dd.figuresthird-box{
    width: 457px;
}

#age-distribution-table{
  min-height: 350px;
}

.small-chart{
  margin-top: 20px;
}

.beshbox{
  padding: 0px 0px 15px 0px;
}

.error{
  color: red;
}

#add-url-error{
  margin-left: 90px;
}

.textfield-wht span  {
    padding-right: 5px;
}

#deal-domain-select-box{
    margin-bottom: 2px;
}

#button_wording_counter, #summary_counter, #description_counter{display: inline;}

.dieblock {
    text-align: center;
}

.ekrenne {
  width: 320px;
}

.dealwidebox .ekrenne  {
    margin-left: 0px;
}

.nobg{ min-width: 0; }

.graybox-wrapper.two-col {
  width: 50%;
  float: left;
}
.dashboard .graybox {
  height: 260px;
}


a.button,
button.button {
  float:left; 
  background:url(/img/savel.png) 0px 0px no-repeat; 
  padding-left:13px; 
  cursor:pointer;
  font-weight:bold; 
  margin:0 1px; 
  text-decoration: none;
}
a.button span,
button.button span { 
  float:left; 
  background:url(/img/saver.png) right 0px no-repeat;
  padding: 4px 18px 6px 5px; 
  line-height:26px;  
  cursor:pointer; 
  font-size:16px; 
  color:#000;  
  text-decoration: none;
}
a.button:hover, a.button.active,
button.button:hover, button.button.active {
  background:url(/img/savel-hov.png) -0px 0px no-repeat; 
  color:#fff; 
  text-decoration:none;
}
a.button:hover span, a.button.active span,
button.button:hover span, button.button.active span {
  background:url(/img/saver-hov.png) right 0px no-repeat;
  color:#fff;
}

button.button, button.button span {
  border: none;
  height: 36px;
  line-height: 36px;
}
button.button {
  position: relative;
  padding-left: 10px;
}
button.button span {
  position: relative;
  top: -1px;
  line-height: 34px;
  padding: 0 18px 0 6px;
}

#signin_form label {
  margin-top: 5px;
}
#signin_form button {
  margin-left: 5px;
}
#signin_form .navigation_text {
  position: relative;
  top: 11px;
}

#topnavigation li div.welcome_user{ 
  color:#588199; 
  background:none; 
  margin-right:10px; 
  margin-left:0px; 
  line-height:26px;
  padding: 2px 6px 2px 2px;
}

a.button.header { float:right; }
