 h2{}
 h2.sub_title{line-height: 42px;}
 
/*  Typography presets
  ------------------  */

.gigantic-font {
  font-size: 110px;
  line-height: 120px;
  letter-spacing: -2px;
}

.huge-font{
  font-size: 68px;
  line-height: 72px;
  letter-spacing: -1px;
}

.large-font{
  font-size: 38px;
  line-height: 48px;
}

.bigger-font{
  font-size: 26px;
  line-height: 36px;
}

.big-font{
  font-size: 16px;
}

.blue{
  color: #588199;
}

#general-ajax-loader{z-index: 1000000; position: absolute; display:none;}

ul#logos_big {margin: 95px 0 40px; text-align: center;}
#logos_big li{text-align:center; display: inline;  margin-right: 30px;}

#logos_big li#twitter_area{margin-right: 20px;}
#logos_big li#linkedin_area{margin-right: 20px;}


#logos_big li a{padding-top: 60px;}
#buzz_logo{padding-left:14px;padding-right:14px;}
#facebook_logo{padding-left:1px;padding-right:1px;}
#twitter_logo{padding-left:8px;padding-right:9px;}
#linkedin_logo{padding-left:8px;padding-right:8px;}

#google_logo{background: url("/img/sprites/sprite_popup.png") no-repeat 9px -571px;}
#facebook_logo{background: url("/img/sprites/sprite_popup.png") no-repeat 5px -782px;}
#twitter_logo{background: url("/img/sprites/sprite_popup.png") no-repeat 0 -1001px;}
#further_logos{background: url("/img/sprites/sprite_popup.png") no-repeat 0 -1269px;}
#linkedin_logo{background: url("/img/sprites/sprite_popup.png") no-repeat -450px -1194px;}

#signin-head{ line-height: 21px; text-align: center;}
#signin-head .signin-title{ font-size:21px; font-weight:normal; color:#000; padding-left:4px; padding-top: 20px;}
#signin-head .signin-title em{ font-size:12px; font-style: normal}

.slogantext{margin-left: 47px; margin-top: 30px;}
#coupon-head-summary{text-align: center; margin-left: 0; margin-top: 0;}

#coupon-unused-container{ margin: 0 auto; }

#unused-coupon-content .whtrow .rcor {
  font-size: 11px;
  line-height: 12px;
  text-align: left;
}

#unused-coupon-content .whtrow .rcor#no-html-code{
  text-align: center;
  font-size: 12px;
}

#unused-coupon-content .whtrow .rcor h2.graytitle{
  font-size: 11px;
}

#unused-coupon-content .dotborbox{padding: 0;  width: 317px;}

.deal-coupon-img{
  height: 65px;
    margin-right: 5px;
    margin-top: 5px;
    width: 65px;
}


/*
  root element for the scrollable.
  when scrolling occurs this element stays still.
*/
.scrollable {
  /* required settings */
    height: 75px;
    overflow: hidden;
    position: relative;
    width: 80px;
}

/*
  root element for scrollable items. Must be absolutely positioned
  and it should have a extremely large width to accommodate scrollable items.
  it's enough that you set width and height for the root element and
  not for this element.
*/
.scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}

/*
  a single item. must be floated in horizontal scrolling.
  typically, this element is the one that *you* will style
  the most.
*/
.scrollable .items div {
  float:left;
}

.scrollable-content{
  width: 100px;
  text-align: center;
}
.slide-back-link{
  background: transparent url("/img/aerrow-left.gif") no-repeat;
  width: 10px;
  height: 10px;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}

.slide-next-link{
  background: transparent url("/img/aerrow-right.gif") no-repeat;
  width: 10px;
  height: 10px;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}

.left{
  float: left;
}

#popup-send-like-button, #popup-send-deal-button{
  width: 74px;
  height: 26px;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent url(/img/like-button.jpg) no-repeat center top;
  text-indent: -1000em;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}

.figuresbox dd.figuresmid-box{
    width: 220px;
    margin-right: 16px;
}

.figuresbox dd.no-margin{
  margin: 0px;
}

.figuresbox dd.figuresthird-box{
    width: 457px;
}

#age-distribution-table{
  min-height: 350px;
}

.small-chart{
  margin-top: 20px;
}

.beshbox{
  padding: 0px 0px 15px 0px;
}

.error{
  color: red;
}

#add-url-error{
  margin-left: 90px;
}
Prev
.textfield-wht span  {
    padding-right: 5px;
}

#deal-domain-select-box{
    margin-bottom: 2px;
}

#button_wording_counter, #summary_counter, #description_counter{display: inline;}

.dieblock {
    text-align: center;
}

.ekrenne {
  width: 320px;
}

.dealwidebox .ekrenne  {
    margin-left: 0px;
}

.wd-form-box{
  margin-top: 5px;
  padding: 13px 14px 6px 16px;
}

#create_deal_button{
  margin-right: 22px;
}

#create-deal-helptext{
  width: 385px;
  padding: 0 10px 0 10px;
  
}

.nobg{ min-width: 0; }



#deal_form ul.radio_list {
    padding-top: 0;
}
#deal_form ul.radio_list li {
    float: left;
}
#deal_form ul.radio_list li input {
    float: left;
}
#deal_form ul.radio_list li label {
    float: left;
    font-weight: normal;
    width: 110px;
    padding-left: 3px;
}

#deal-form-cat-list{
  height: 60px;
}

#deal-form-cat-text{
  padding: 10px 10px 0 0;
  width: 345px;
}


input.graybtnwide {
    background: url("/img/copycode-bg-wide.png") no-repeat scroll 0 -38px transparent;
    display: inline-block;
    padding-left: 14px;
}

#accept-tos{
  padding-left: 16px;
  padding-right: 13px;
}

.nobg{ min-width: 0; }

.graybox-wrapper.two-col {
  width: 50%;
  float: left;
}
.dashboard .graybox {
  height: 260px;
}

a.button,
button.button {
  background:url(/img/savel.png) 0px 0px no-repeat;
  padding-left:13px;
  cursor:pointer;
  font-weight:bold;
  margin:0 1px;
  text-decoration: none;
}
a.button span,
button.button span {
  float:left;
  background:url(/img/saver.png) right 0px no-repeat;
  padding: 4px 18px 6px 5px;
  line-height:26px;
  cursor:pointer;
  font-size:16px;
  color:#000;
  text-decoration: none;
}
a.button:hover, a.button.active,
button.button:hover, button.button.active {
  background:url(/img/savel-hov.png) -0px 0px no-repeat;
  color:#fff;
  text-decoration:none;
}
a.button:hover span, a.button.active span,
button.button:hover span, button.button.active span {
  background:url(/img/saver-hov.png) right 0px no-repeat;
  color:#fff;
}

button.button, button.button span {
  border: none;
  height: 36px;
  line-height: 36px;
}
button.button {
  position: relative;
  padding-left: 10px;
}
button.button span {
  position: relative;
  top: -1px;
  line-height: 34px;
  padding: 0 18px 0 6px;
}

#signin_form label {
  margin-top: 5px;
}
#signin_form button {
  margin-left: 5px;
}
#signin_form .navigation_text {
  position: relative;
  top: 11px;
}

#topnavigation li div.welcome_user{
  color:#588199;
  background:none;
  margin-right:10px;
  margin-left:0px;
  line-height:26px;
  padding: 2px 6px 2px 2px;
}

a.button.header { float:right; }

.data-tablebox th div {
  font-weight: bold;
  padding: 0 8px 0 4px;
}

.data-tablebox th div .tooltip-icon{
    padding-left: 3px;
    padding-top: 7px;
}

.content-error-box{clear:both; padding-left: 110px;}

.error_list li {
    color: #D60000;
 font-size: 10px;
    font-weight: bold;
    line-height: 12px;
}

#radio-single-quantity, #radio-single-quantity-unltd{
  display:block;
  float: left;
  margin-right: 2px;
}

#quantitiy-unlimited{
  margin-right: 93px;
}
Prev
#deal-quantity-label{
  line-height: 28px;
}

#radio-single-quantity-label, #radio-single-quantity-unltd-label{
 display: block;
 float: left;
 line-height: 14px;
}

.onlyone {
  padding-top: 8px;
}

.wd120{Prev
  width: 120px;
}

.wd100{
  width: 100px;
}
.grboxbot {
    z-index: 0;
}

#nodomain-content p,
#nodomain-content h1{
  margin: 10px 10px;
}

/* css for timepicker */
#ui-datepicker-div{ padding: 15px;}
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

.deal-analytix-content, .deal-analytix-filter-nav{
  margin-top: 15px;
}


#subnavigation ul li a.active{ background:url(../img/navtabbg-hov.png) left top no-repeat; line-height:24px; text-decoration:none; color:#fff;  }

.commentlist dd { background:url(/img/comment-small-bg.png) left top no-repeat; width:481px; height:66px; margin-bottom:2px;}
.commentlist dl { overflow: scroll; overflow-y: auto; overflow-x: hidden; height: 150px; }


/*.edit-img{
  background: url("/img/global/24x24/edit.png") no-repeat !important;
  background-position: right;
  display: block;
}*/

.data-tablebox #deal-table td{
  font-weight: normal;
  font-size: 12px;
}

#deal-table td div{
  height: 34px;
}

#deal-table td div img{
  padding-top: 4px;
}

td.editinplaceclick {
    cursor: pointer;
    margin-right: 0;
}

#editinplace-box{
  margin-left: 20px;
  width: 130px;
}

.datatablewide .data-tablebox #deal-table tr.approved td,.datatablewide .data-tablebox #deal-table tr.approved td.approved a{
  color: #000;
  text-decoration: none;
}


a.approved-link{
  color: #000 !important;
}

a.paused-link{
  color: #777575!important;
}

.datatablewide .data-tablebox #deal-table tr.submitted td,.datatablewide .data-tablebox #deal-table tr.submitted td.submitted a{
  color: #eb9f07;
  text-decoration: none;
}

.datatablewide .data-tablebox #deal-table tr.denied td,.datatablewide .data-tablebox #deal-table tr.denied td a{
  color: #fa0814;
  text-decoration: none;
}

.datatablewide .data-tablebox #deal-table tr.paused td,.datatablewide .data-tablebox #deal-table tr.paused td.paused a{
  color: #868686;
  text-decoration: none;
}

.profilebox .subdetail_img, .subdetail_img .gallery_cantrol {
  text-align: left;
}

#preview_widgets .stylechoose_box .status_list li {
  padding-bottom: 0px;
}

#service_no_url{
  color: #bbbbbb;
}

#man-url-label{ margin: 25px 0px 25px 25px; }
#man-url-label input{ width: 435px;}

#d_clip_button.active { color: #000; }

#d_clip_button {
  cursor: default;
}
Prev
.languagebox {width: 250px;}
.languagebox .welcome_user { color:#588199; background:url(../img/top-nav-devider.gif) right 3px no-repeat; padding-right:10px; margin-right:10px; margin-left:0px; line-height:15px; font-size: 15px; }
.languagebox a.logout{ background:none; padding-right:10px; margin-right:4px; font-size:15px; color:#252525; display:inline-block; line-height:17px; margin-top: 0px;}

.service-img-link{
  display:block;
  width: 50px;
  height: 50px;
  margin-left: 5px;

}

#service-img-wordpress{ background: url("/img/social_button_sprite.png") no-repeat 0px 0px; }
#service-img-wordpress:hover{ background: url("/img/social_button_sprite.png") no-repeat 0px -100px; }
#service-img-wordpress.active{ background: url("/img/social_button_sprite.png") no-repeat 0px -200px; }

#service-img-tumblr{ background: url("/img/social_button_sprite.png") no-repeat -200px 0px; }
#service-img-tumblr:hover{ background: url("/img/social_button_sprite.png") no-repeat -200px -100px; }
#service-img-tumblr.active{ background: url("/img/social_button_sprite.png") no-repeat -200px -200px; }

#service-img-blogger{ background: url("/img/social_button_sprite.png") no-repeat -100px 0px; }
#service-img-blogger:hover{ background: url("/img/social_button_sprite.png") no-repeat -100px -100px; }
#service-img-blogger.active{ background: url("/img/social_button_sprite.png") no-repeat -100px -200px; }

#service-img-posterous{ background: url("/img/social_button_sprite.png") no-repeat -300px 0px; }
#service-img-posterous:hover{ background: url("/img/social_button_sprite.png") no-repeat -300px -100px; }
#service-img-posterous.active{ background: url("/img/social_button_sprite.png") no-repeat -300px -200px; }

#service-img-magento{ background: url("/img/social_button_sprite.png") no-repeat -400px 0px; }
#service-img-magento:hover{ background: url("/img/social_button_sprite.png") no-repeat -400px -100px; }
#service-img-magento.active{ background: url("/img/social_button_sprite.png") no-repeat -400px -200px; }

#service-img-typo{ background: url("/img/social_button_sprite.png") no-repeat -700px 0px; }
#service-img-typo:hover{ background: url("/img/social_button_sprite.png") no-repeat -700px -100px; }
#service-img-typo.active{ background: url("/img/social_button_sprite.png") no-repeat -700px -200px; }

#service-img-drupal{ background: url("/img/social_button_sprite.png") no-repeat -900px 0px; }
#service-img-drupal:hover{ background: url("/img/social_button_sprite.png") no-repeat -900px -100px; }
#service-img-drupal.active{ background: url("/img/social_button_sprite.png") no-repeat -900px -200px; }

#service-img-joomla{ background: url("/img/social_button_sprite.png") no-repeat -600px 0px; }
#service-img-joomla:hover{ background: url("/img/social_button_sprite.png") no-repeat -600px -100px; }
#service-img-joomla.active{ background: url("/img/social_button_sprite.png") no-repeat -600px -200px; }

#service-img-textpattern{ background: url("/img/social_button_sprite.png") no-repeat -1000px 0px; }
#service-img-textpattern:hover{ background: url("/img/social_button_sprite.png") no-repeat -1000px -100px; }
#service-img-textpattern.active{ background: url("/img/social_button_sprite.png") no-repeat -1000px -200px; }

#service-img-other{ background: url("/img/social_button_sprite.png") no-repeat -500px 0px; margin-left: 48px;  }
#service-img-other:hover{ background: url("/img/social_button_sprite.png") no-repeat -500px -100px; }
#service-img-other.active{ background: url("/img/social_button_sprite.png") no-repeat -500px -200px; }

#service-img-email{ background: url("/img/social_button_sprite.png") no-repeat -1100px 0px; margin-left: 48px;}
#service-img-email:hover{ background: url("/img/social_button_sprite.png") no-repeat -1100px -100px; }
#service-img-email.active{ background: url("/img/social_button_sprite.png") no-repeat -1100px -200px; }

#sf_apply_apply_form table th{
  width: 160px;
  text-align: left;
}

#sf_apply_apply_form table tr{
  height: 27px;
}

.right{
  float: right;
}

.spreadsel_box .checklist {
    width: 45%;
}

#subnavigation ul li a.active{ background:url(../img/navtabbg-hov.png) left top no-repeat; line-height:24px; text-decoration:none; color:#fff;  }
#subnavigation ul li.first a.active{ background:url(../img/navltophov.png) left top no-repeat;}
#subnavigation ul li.last a.active{ background:url(../img/navlbothov.png) left top no-repeat; }

.help_content { height: 165px; }

.easy-tagline {
  font-size: 30px;
  line-height: 30px;
  padding: 61px 0 0 70px;
  font-style: italic;
  text-shadow: #b3b3b3 1px 1px 2px;
}

.popup-tagline {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  text-shadow: #b3b3b3 1px 1px 1px;
  margin: 30px 85px 0 0;
  width: 150px;
  float: right;
}

#domain-table-website{padding-left: 20px;}
.table-title th { white-space: nowrap; }

.deal-stats-link:hover{
  font-weight: bold;
}

.deal-stats-link.active{
  font-weight: bold;
  text-decoration: none;
}

.service_content h3 span {
    font-weight: bold;
}

.service_content {
    height: 150px;
}

.success{
  color: green;
}
Prev
.comment_box .success{
  padding-left: 105px;
}

.contentbox {
  z-index: 5;
}

.languagebox img.inactive-cult{
 opacity: 0.5;
}

.register-box{
  margin: auto;
  width: 400px;
}

div.sortlink{
  cursor: pointer;
  width: auto;
  display: block;
}

.sortlink{
  background: url("/img/sortarrows.gif") no-repeat scroll right transparent;
}

.headerSortDown div.sortlink{
  background: url("/img/asc-arrow.gif") no-repeat scroll right transparent;
  color: #58819A;
  font-weight: bold;
}

.headerSortUp div.sortlink{
  background: url("/img/desc-arrow.gif") no-repeat scroll right transparent;
  color: #58819A;
  font-weight: bold;
}

th.headerSortDown,
th.headerSortUp {
  background: url("/img/tbltopx-hov.gif") repeat-x scroll left top #D2D2D2;
}

th.headerSortDown.first,
th.headerSortUp.first {
  background: url("/img/tbtop-hov.png") no-repeat scroll left top transparent;
}

th.headerSortDown.last,
th.headerSortUp.last {
  background: url("/img/tbtop-hov.png") no-repeat scroll right top transparent;
}

.data-tablebox td.first{
    border-left: 1px solid transparent;
}

.data-tablebox td{
  border-left: 0 solid transparent;
  border-right: 0 solid #FFFFFF;
  line-height: 34px;
}

.two-line-table td{
  line-height: 42px;
}

#analytics-url-table td{
  line-height: 42px;
}

.data-tablebox td div{
  border-right: 1px solid #777575;
}

.data-tablebox td div.padleft{
  padding-left: 10px;
}

div.data-tablebox table#top-influencer-table td.first div.infname{
  min-height: 42px;
  vertical-align: middle;
}

div.data-tablebox table#top-influencer-table td.first div.infname span{ 
    display: inline-block;
    line-height: 16px;
    margin-top: 13px;
}

div.data-tablebox table#top-influencer-table td.first div.infname img {
  margin-right: 5px;
}


#analytics-bread {
  padding: 5px 0px 5px 0px;
}

#pie-charts{
  clear:both;
  margin: 20px 0px 10px 0px;
}

#pie-charts div#age-chart{
  margin: 0px 10px;
}


#filter-period-label{
    position: relative;
    z-index: 50;
    padding-top: 5px;
    width: 135px;
}

#filter-period-or{
    line-height: 31px;
    padding-left: 10px;
    padding-right: 10px;
}

#select-period-link.button,
#select-period-link.button span{
  font-weight: normal;
  font-size: 12px;
}

#analytics-datefilter-form{
    height: 270px;
    width: 500px;
    padding: 10px;
}

#analytics-datefilter-form .textfield  {
    background: url("../img/gray-textbg.png") no-repeat scroll -2px -30px transparent;
    padding-left: 10px;
}

#analytics-datefilter-form .textfield span {
    background: url("../img/gray-textbg.png") no-repeat scroll right 0 transparent;
    padding-right: 11px;
}

#analytics-datefilter-form input {
  color: #000;
}

.textfield-label{
    padding-right: 5px;
    padding-top: 7px;
}

/*********stat-infos with arrows********/
#navi{  width:916px; height:89px;}
.stepBox{ background:url(/img/arrow_icon.png) right 0px no-repeat; height:71px; width:auto; margin-top:10px; margin-right:14px;}

.mediaPartner{ background:none;}
.box_container{ background:url(/img/bg_image.png) left -68px no-repeat; height:68px; padding-left:11px; margin-top:1px;}
.box{ background:url(/img/bg_image.png) right top no-repeat; height:68px; display:block; width:122px; padding-right:10px; }
.box_container .box p{ font-size:14px; font-weight:bold; color:#588199; text-align:center; line-height:15px; margin:0px; padding:7px 0px 0 0px;}
.box strong{ font-size:38px; line-height:28px; color:#588199; text-align:center; display:block; padding:5px 5px 0 0px;}
.box_container{ margin-top:2px;}
.box .media_text_space{ margin-left:-7px!important;}
.box .shares{padding:8px 5px 0 0px; }
.box .media{ padding:8px 15px 0 0px; }

.twitter span{ background:url(/img/twitter_icon.png) no-repeat scroll center top transparent; min-width:17px; height:17px;}
.twitter_width span{ min-width:30px; text-align:center; background:url(/img/twitter_icon.png) center 0px no-repeat;}
.facebook span{  background: url("/img/facebook_icon.png") no-repeat scroll center top transparent; min-width:20px; height:17px;}
.linkedin span{ background: url(/img/in_icon.png) no-repeat scroll center top transparent; min-width:17px; height:17px;}
.gtalk span, .google span{ background: url(/img/gtalk_icon.png) no-repeat scroll center top transparent; min-width:19px; height:17px;}

.mediaPartner .box{width:auto; padding-right:0px;}

.box .tooltip-icon{padding: 0px 5px 0px 5px;}

#navi ul { padding-left:10px; float:left}
#navi ul li{ padding-right:7px; list-style:none;  text-align:center; padding-top:19px;  float:left; font-size:12px;  }
#navi ul p{ font-size:14px; color:#252525; margin-top:-2px; width: 110px;}
#navi ul span{ color:#252525; text-decoration:none;  font-size:12px; padding-top:18px; text-align:center; display:block;}
#navi ul span.stepBox-text{text-align:left;}

#navi ul p span{ padding:0}

#navi .shares_box ul{ padding-left:12px;}
#navi .shares_box ul li { padding-right:6px }
#navi .shares_box ul li.facebook span { width:auto; min-width:18px}

.shares_box{ width:292px;}


.tooltip {
    background: url("/img/tooltip/black_arrow.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: none;
    font-size: 12px;
    height: auto;
    padding: 20px !important;
    width: 160px;
    border-left: none !important;
    border-right: none !important;
    line-height: 14px !important;
    font-weight: normal !important;
    min-height: 70px;
    z-index: 99;
}

.tooltip h3{
  line-height: 18px;
}

#dyna img {
    border: 0 none;
    cursor: pointer;
    margin: 0 8px;
}

/* End Main Nav
--------------------------------------------------------------------------------------------------------*/


/**********Footer*************/


.footer-box{
  float: left;
  padding-left: 40px;
}

.list-box{
    border-right: 1px solid #CACACA;
    height: 120px;
}

.list-box.last{
  border: none;
}

.footer-box h3{
   color: #345C82;
   font-size: 14px;
   font-weight: bold;
   line-height: 28px;
}

.footer-box .footer-list{
  padding-right: 40px;
}

.footer-box .footer-list.last{
  padding-right: 0;
}

.footer-box .footer-list li{
  background: url("/img/plus.png") no-repeat scroll left center transparent;
  padding-left: 15px;
  line-height: 20px;
}


/*********End Footer*********/

.meta-text{
  font-size: 11px;
  padding-top: 3px;
}

#subscribe-api-box{
  width: 550px;
  padding: 20px;
  height: 300px;
}

#subscribe-api-box .btnwording{
  width: 110px;
  margin-right: 10px;
}

#jgd_dd_domain_profile_protocol{
  z-index: 0;
}

#subscribe-api{
  clear:both;
}

#endpoint-stats{
  margin-top: 10px;
}

.ep-stat-count{ margin-right: 10px; line-height: 18px;}

.form-response{
  margin-top: 20px;
}

.hide{
  display:none;
}

/***breadcrumb***/
.bc-list li{float:left; height: 24px; line-height: 24px;}
.bc-first{ background: url("/img/breadcrumb_left.png") no-repeat scroll left center transparent; width: 12px;}
.bc-gradient{  background: url("/img/breadcrumb_gradient.png") repeat-x scroll left center transparent; width: auto; padding: 0 5px;}
.bc-gradient a {color: #588199;}
.bc-gradient a:hover, .bc-gradient strong {color: #252525;}
.bc-seperator{  background: url("/img/breadcrumb_center.png") no-repeat scroll left center transparent; width: 17px;}
.bc-last{  background: url("/img/breadcrumb_right.png") no-repeat scroll left center transparent; width: 12px;}

#like-content-box .error{margin: 25px;}
.like-content-information { margin: 25px 0 25px 25px; };

.likenbox{
  width: 420px;
    padding-left: 0;
    }

.gefelink a{
    float: left;
    margin-right: 3px;

}

.deal_button_wording-mirror{
   display: block;
   float: left;
   font-size: 11px;
   line-height: 11px;
   width: 280px;
}

#show-deal-list{
  height: 185px;
  overflow-y: auto;
  overflow-x: hidden;
}



/**************************popup***********************/

.popupblock{ 
  width:541px; 
  height:435px; 
  background:url(/img/pop-upbg.jpg) center top no-repeat; 
  margin:0 auto; 
  position:relative; 
  padding: 10px 20px 0 20px;
}


/********************popup-header***********************/

nav{
  border: 1px solid;
  border-color: rgb(23,28,26);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px; 
  background-color: rgb(23,28,26);  
  background-color: rgba(23,28,26,0.5);
}

nav .nav-list{
}

nav .nav-list li{
  float: left;
  line-height: 30px;
  padding: 0 0 0 5px;
  position: relative;
  color: #fff;
  font-size: 13px;
}

nav .nav-list li a {
 color: rgb(255,255,255);
 color: rgba(255,255,255,1);
 border-right: 1px solid #fff;
 padding-right: 5px;
}

nav .nav-list li.active a{
  text-decoration: underline;
}

nav .nav-list li:last-child a {
  border-right: 0;
}


/*******navigation********/

ul#subnavigation li{
  float: left;
  padding: 0px 10px 0px 10px;
  border-right: 1px solid #252525;
}

ul#subnavigation li:last-child{
	border-right: 0;
}

ul#subnavigation li a.active{
  text-decoration: underline;
}