#sf_apply_apply_form .submit_row, #sf_apply_reset_request .submit_row{
  margin-top: 10px;
}


form table {
  width: auto;
  font-size: 12px;
  a {
    font-size: 12px;
    line-height: 18px;
  }
  tbody {
    margin: 1em;
    th {
      text-align: right;
      background: none;
      font-weight: bold;
      color: @default-text-color;
    }
  }
  tfoot {
    td{
      padding-top: 1em;
    } 
  }
}

form {
  label {
    font-weight: bold;
    color: @default-text-color;
    display: block;
    width: 155px;
  }
  input {
    &[type="text"],
    &[type="password"] {
      .border-radius(2px);
      margin-left: 5px;
      padding: 3px 6px;
      color: @default-text-color;
      border: 1px solid @default-border-color;
    }
  }  
}

.formbox {
  h2 {
    .green-style;
  }
  
}

#signin_form {
  input {
    &[type="text"],
    &[type="password"] {
      width: 114px;
      padding: 1px 3px;
    }
  }
  input[type="submit"] {
    padding: 1px 6px;
  }
}



#guard_signin_area{
  .box;
  .clearfix;
  width: 400px;
  padding: 0 10px;
  margin: 10px auto 20px;
}

#domain_profile_url, #deal_DomainProfile_id{
  width: 730px;
  margin-bottom:5px;
}

#input-verify-code{
  width: 855px;
}

.label-box{
  float: left;
}

#deal_form {
  input {
    &[type="text"],
    &[type="password"] {
      width: 330px;
      padding: 1px 3px;
    }
  }
  select{
      margin-top: 10px;
  }
  select#id{
    width: 825px;
  }
  input[type="submit"] {
    padding: 1px 6px;
  }
  .label-box {
    width: 100px;
    text-decoration: none;
  }
  #terms-of-use label{
    float: none;
    width: 500px;
  }    
  #deal_start_date, #deal_end_date{
    width: 153px;
  } 
  
  #deal_coupon_multiple_codes{
    .border-radius(2px);  
    padding: 1px 3px;
    margin-left: 5px;
    width: 330px;
    border: 1px solid #CDCDCD;
    color: #898989;        
  }
  
  #deal_coupon_quantity{
    width: 50px;
  }
  
  #single-code-row{
    width: 450px;
  }
  
  #radio-single-quantity, #radio-single-quantity-unltd{
    padding: 0;
    margin: 0;
    vertical-align: middle;
  }
  
  .meta-label{
    font-size: 10px;
    font-weight: normal; 
    line-height: 12px;   
  }
  
  ul.radio_list{
    padding-top: 0;
  }
  
  ul.radio_list li{
    float: left;
  }
  
  ul.radio_list li input{
    float: left;
  }  
  
  ul.radio_list li label{
    float: left;
    width: 110px;
    font-weight: normal;
  }    
  
  ul.error_list{
    padding-top: 5px;
  }
  
  .error-box{
    padding-left: 106px;
  } 
  
  div.inline-row{
    float: left;
    padding: 0px;
    line-height: 21px;    
  }
  
  #single-quantity-unlimited{
    float: right;
    width: auto;
    line-height: 21px;  
    margin-right: 10px;  
  }
  
  div.inline-row .label-box{
    font-weight: normal;
    margin-left: 5px;
    width: auto;
    line-height: 21px;
  }  
}

div.form-row{
  padding: 5px 0px 5px 0px;
  clear:both;
}

#terms-of-use{
  margin-left: 20px;
}

#proceed-deal-button{
  width: 447px;
  margin-left: 20px;
}


#admin-email{
  margin-right:10px;
  width: 455px;
}

#editinplace_input{
  width:110px;
}

#add-codes-area {
  height:110px;
  width:365px;
  margin-bottom: 10px;
}

